[2019-08-12 18:46] cyberslam opened #4 "Installation Error"
Hi AdamKing,

             I understand the current status of this project is just providing a "dummy scaffolding" for the immediate future with no Exchange selected.  I though I would give you a quick feedback on my latest approach to run it today (Monday, August 12, 2019), since the previous attempt/version produced no error.

              I just uploaded the project file into Colab, unzipped i

[2019-08-12 19:31] notadamking commented on #4
Should be fixed in latest commit. Let me know.

[2019-08-12 20:16] cyberslam commented on #4
I just uploading the new and updated project zipped file and reran it under Colab -
it produced a ImportError (this was based on cut-and-pasted the
"https://github.com/notadamking/tensortrade/blob/master/examples/Development.ipynb"
into the last code block:

---------------------------------------------------------------------------
ImportError                               Traceback (most recent

[2019-08-15 08:36] andreskull opened #7 "Improve confusing terminology"
The variables `symbol`, `base_symbol` and `output_symbol` are not used consistently in the code and it reduces the readability. actually `base_symbol` and `output_symbol` are the same. `output_symbol` should be renamed to `base_symbol` because this is more intuitive. Somewhere in the code variable name `symbol` is used where `base_symbol` is meant actually.

Those changes are implemented in https:

[2019-08-15 08:41] andreskull opened #8 "Use different dtype for action and observation space"
In `trading_environment.py` the same `dtype` is used for observation and action space. They should have different `dtype`. The change is implemented in https://github.com/notadamking/tensortrade/pull/6

[2019-08-17 00:01] cyberslam commented on #4
Today I download, unzipped and reran the latest version in Colab

# Ref URL:  https://github.com/notadamking/tensortrade/blob/master/examples/train_and_evaluate.ipynb

# copy and paste:   tensortrade/examples/train_and_evaluate.ipynb

!pip3 install tf-nightly

!pip3 install stable-baselines

from stable_baselines.common.policies import MlpLnLstmPolicy
from stable_baselines.common.vec_env import Du

[2019-08-18 22:51] notadamking commented on #7
This should be fixed with the latest commits.

[2019-08-18 22:51] #7 closed

[2019-08-18 22:51] notadamking commented on #8
Fixed.

[2019-08-18 22:51] #8 closed

[2019-08-18 22:52] notadamking commented on #4
The library was in an unstable state. Let me know if this continues in the future.

[2019-08-18 22:52] #4 closed

[2019-08-28 10:41] andrewczgithub opened #9 "More comment in example - dumb agent"
Hi @notadamking
Super cool library!
great work!
I think this is going to be used for years to come.
I am going to get a start on another Jupyter notebook.
I was wondering if there could be some comments on the example notebook.
How the agent is trained (look back period) and what rules it is making its trading decision.
Also maybe a portfolio visual on the current amount.
Also add in the model for

[2019-09-05 18:15] andy121090 opened #10 "AttributeError: module 'tensorflow' has no attribute 'function'"
**System information**

- OS Platform and Distribution: Ubuntu 18.04.2 LTS
- TensorTrade version: 0.0.1
- TensorFlow version: 1.13.1
- Python version: 3.6.7

**Describe the current behavior**
I try to execute the code of the example _TensorTrade_Tutorial.ipynb_ and the following error occurs:
`AttributeError: module 'tensorflow' has no attribute 'function'`

**Describe the expected behavior**
I ex

[2019-09-07 03:53] Medicmind opened #11 "Tensortrade uses tensorflow 2 but tensorforce in tensorforce_trading_strategy.py doesn't work in tf version 2"
Tensortrade uses tensorflow 2 but tensorforce_trading_strategy.py has a tensorforce dependency which will not work with tensorflow 2. Wondering how to get the trading strategy to work.

[2019-09-07 20:06] notadamking commented on #11
@Medicmind, the framework was originally created with the intentions of using TF 2, but unfortunately much of the reinforcement learning projects still require TF 1 (tensorforce, ray, stable-baselines, etc.).

For that reason, the framework is current limited to `tensorflow==1.14.0`.

[2019-09-07 20:06] #11 closed

[2019-09-07 20:08] notadamking commented on #10
@andy121090 Have you tried updating to the latest version of TensorTrade?

[2019-09-08 00:16] Medicmind opened #13 "'data type not understood' error in cctx_exchange.py"
When I try to run TensorTrade_Tutorial I am getting a 'data type not understood ' error.

In exchanges/live/ccxt_exchange.py it has
`
return Box(low=low, high=high, shape=obs, dtype=dtypes)
`
where dtypes is an array of data types but gym Box expect dtype to be a single datatype:

`
self.dtype = np.dtype(dtype)
`
and get a 'data type not understood error' at this line when I run the tutorial

[2019-09-08 00:24] Medicmind opened #14 "tensortrade/strategies/__init__.py should be .tensorforce_trading_strategy import TensorforceTradingStrategy"
In order to get Tensortrade_Tutorial to work

tensortrade/strategies/__ init __.py

should be changed from

`from .trading_strategy import TradingStrategy`
`from .tensorforce_strategy import TensorforceStrategy`

to

`
from .trading_strategy import TradingStrategy`
`from .tensorforce_trading_strategy import TensorforceTradingStrategy
`

[2019-09-08 03:20] Medicmind opened #15 "trading_environment.py fix"
In environments/trading_environment.py the line

`observation = self._feature_pipeline.transform(observation)`

should be

`observation = self._feature_pipeline._transform(observation)`

[2019-09-08 09:36] andy121090 commented on #10
I was installing TensorTrade via `pip install tensortrade` and the version I get there is `0.0.1a3`.
Using the newly updated requirements.txt I get a different error:

`AttributeError: attribute '__isabstractmethod__' of 'staticmethod' objects is not writable`
([trace2.txt](https://github.com/notadamking/tensortrade/files/3587473/trace2.txt))

Is the pip installation of TensorTrade favoured? Or sh

[2019-09-08 09:43] andy121090 commented on #14
Same here if importing TensorTrade directly from source:

`ModuleNotFoundError: No module named 'tensortrade.strategies.tensorforce_strategy'`

However, in the TensorTrade_Tutorial.ipynb the pip installation is suggested, but then other errors occur, c.f. #10.

[2019-09-08 20:09] K-Kit opened #18 "Tensorforce renamed some things"
@notadamking It seems tensorforce is pushing updates changing a lot of things in their code base.

`Agent.from_spec()` changed and renamed to `Agent.create()`
https://github.com/tensorforce/tensorforce/commit/5cc4d236c70950997ecad279ba3c4b1b91d09fc0#diff-ce5c378eac1e50a69b6ff9b81a928974

[2019-09-08 22:59] notadamking commented on #18
Looks like this was released yesterday - I will look into updating TensorforceTradingStrategy.

[2019-09-08 23:01] notadamking commented on #15
It should actually be:

[code]

Nice catch.

[2019-09-08 23:02] #15 closed

[2019-09-08 23:04] notadamking commented on #14
Nice catch.

[2019-09-08 23:04] #14 closed

[2019-09-08 23:05] notadamking commented on #13
Looks like `gym` spaces only accept a single `dtype`, will fix.

[2019-09-08 23:06] #13 closed

[2019-09-08 23:07] notadamking commented on #10
The latest version is `0.0.1a4`, though I will be pushing an update later today fixing any issues with the tutorial.

[2019-09-08 23:18] K-Kit commented on #18
It seems a lot changed. a few things to save you a few minutes:

- They removed (maybe temporarily?)  OpenAIGym used in trading_environment.py (temp fix in my branch below)

- the create function has some different args
I started to refactor but got stuck with this error and didn't know enough about the model to make it past
`raise TensorforceError.required(name=(value_type + ' spec'), value='num_

[2019-09-13 14:52] Payback80 opened #21 "Is tutorial working?"
Hi,
great job! I have installed tensortrade using git so my version is 0.0.1a4
conda dedicated venv, on ubuntu, my bug is:
`agent_spec = {
    "type": "ppo_agent",
    "step_optimizer": {
        "type": "adam",
        "learning_rate": 1e-4
    },
    "discount": 0.99,
    "likelihood_ratio_clipping": 0.2,
}
network_spec = [
    dict(type='dense', size=64, activation="tanh"),
    dict(type='dense

[2019-09-14 10:44] forthtemple commented on #21
I've spent a lot of time trying to get the tutorial to work but havent had any luck. I haven't come across your 'from_spec' error, but am stuck on features/feature_pipeline.py in the line:

  `          features = check_array(observation, dtype=self._dtype)`

where I get the error:

ValueError: Invalid observation frame passed to feature pipeline: Expected 2D array, got 1D array instead:
array=[10

[2019-09-16 08:14] ruifeng96150 opened #22 "Feature Request: ActionStrategy and InstrumentExchange for Futures trading"
I am glad to meet a so great project.  when I do some test. I find some new requirements.

1.  I want to use this project for Future and I find that discrete_action_strategy is not support for shorting.  So it's possible to add more type of action strategy in the future? and what's more, the exchange may need  update.
2. For TradeType, I think the limit or market order type should be config as a e

[2019-09-16 20:28] Medicmind opened #23 "minmaxnormalizer expects a 2D array but observation is a 1D array of 'open', 'close','high','low'"
In the tensortrade tutorial, it uses a minmaxnormalizer where in features/feature_pipeline.py it takes an observation which is a single number for 'open', 'close','high','low' (eg [3.222,  5.33, 2, 5] ) but then tries to normalize it raising an error because the minmaxnormalizer expects a 2D array eg [[3.222, 2],[5.33,99],[2,2.2], [5,2]]

[2019-09-21 16:32] MarkintoshZ opened #24 "ImportError: cannot import name 'Space'"
In the https://github.com/notadamking/tensortrade/blob/master/examples/TensorTrade_Tutorial.ipynb
this is the output of the cell
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-04365641deec> in <module>
----> 1 from tensortrade.strategies import TensorforceTradingStrategy

[2019-09-21 20:25] K-Kit commented on #21
@Payback80  the 'from spec' issue is caused by a tensorforce version miss-match, lock your version to 4.0 and you should be good

[2019-09-23 00:41] #24 closed

[2019-09-29 13:02] mikiwong commented on #21
I am facing this error as well. Do we have to use an exact python version?

[2019-10-05 14:52] forhonourlx opened #26 "Feature Request: TensorForce Multi-GPU or Distributed Training"
Hi Adam,

This is a great work.
Does TensorTrade Support Multi-GPU or Distributed Training?
Is there any plan to implement?

Thanks.

[2019-10-06 02:36] forhonourlx opened #27 "AttributeError: type object 'Agent' has no attribute 'from_spec'"
Hi Adam,

I found the following exception, is that a version problem?
Thanks.

Traceback (most recent call last):
  File "train_and_evaluation.py", line 62, in <module>
    strategy = TensorforceTradingStrategy(environment=environment, agent_spec=agent_spec, network_spec=network_spec)
  File "/home/simon/anaconda3/lib/python3.6/site-packages/tensortrade/strategies/tensorforce_trading_strategy.py",

[2019-10-06 22:33] cer-nagas opened #28 "Bug: import TradingEnvironment throws SyntaxError in Jupyter tutorial"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or [on the TensorTrade Gitter channel]((https://gitter.im/tensortrade-framework/community/) instead of opening a GitHub issue.</

[2019-10-07 08:38] Z-slim commented on #27
I ran into the same problem with Tensorforce 0.5.1, downgraded to version 0.4.4 and it fixed the issue for me along with the 'from tensorforce.contrib.openai_gym import OpenAIGym' issue I was having.

[2019-10-09 20:42] eosfomogame opened #29 "Feature Request: Implement Tensorboard monitoring of training sessions"
Is it possible to implement tensorboard to monitoring the training sessions?

[2019-10-10 01:15] forhonourlx commented on #26
Hi Adam,

I notice there are some distributed RL frameworks, like:
https://github.com/facebookresearch/torchbeast
https://github.com/deepmind/scalable_agent

Any Plan to support scaled works? That would break through the limits.

[2019-10-12 00:16] notadamking opened #30 "Documentation Request: Document the existing codebase using ReadTheDocs and Sphinx"
**Funding amount**:
2 ETH (~$400)

**Description**:
Document each component described in the article, as well as each existing feature in the codebase (Each file in the `/tensortrade` directory).

* Write a complete description of each component and file in the `/tensortrade` directory.
* Include example usage of each use case and its possible solutions.
* Briefly define and explain any variables

[2019-10-12 17:03] notadamking opened #32 "Documentation Request: Create Docker infrastructure for tutorial, documentation, and testing"
**Funding amount:**
0.15 ETH (~$40)

**Description:**
Create the necessary Docker infrastructure for running the full tutorial, running and updating the documentation locally, and running and updating tests locally.

**Requirements:**
* Create a Dockerfile in `/Dockerfile`, which creates the necessary environment to run TensorTrade with all of its features and components. (E.g. Tensorflow, Tensorf

[2019-10-12 17:37] mwbrulhardt opened #33 "Feature Request: Initialization of components by string"
# Explanation
The purpose of this feature is to make commonly used components accessible by string in the context of initializing trading environments or trading strategies. This is similar in spirit to compiling models  in keras by setting loss and optimizers to be a string such as:
[code]
This will make it easy for people to start using TensorTrade quickly and will also help more advanced users

[2019-10-12 17:48] notadamking commented on #33
Thanks Matthew for raising this issue. I am going to add some Gitcoin funding for the completion of this feature.

**Funding:**
0.1 ETH (~$20 USD)

**Description:**
Allow each TensorTrade component to be initialized via string.

**Requirements:**
* Each TensorTrade component should be able to be initialized via Class object or string, using an accompanying `get` method. (E.g. `actions.get('SimpleD

[2019-10-12 18:08] notadamking opened #34 "Testing Request: Create unit tests for components and documentation"
Funding amount:
1.5 ETH (~$300)

Description:
Create fully-featured unit tests for each existing component in `/tensortrade` and the documentation in `/docs`.

Requirements:
* Each component should be tested via `pytest` in its corresponding `/tests/tensortrade/**/test_*.py` file.
* Each use case of each component should be 100% covered via the unit tests.
* Each function parameter and class argum

[2019-10-12 23:10] codeninja opened #35 "AttributeError: type object 'OpenAIGym' has no attribute 'state_from_space'"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or [on the TensorTrade Gitter channel]((https://gitter.im/tensortrade-framework/community/) instead of opening a GitHub issue.</

[2019-10-12 23:15] codeninja commented on #35
attaching my dataset

[btc_usdt_1h.txt](https://github.com/notadamking/tensortrade/files/3721256/btc_usdt_1h.txt)

[2019-10-13 17:19] notadamking commented on #35
What version of tensorforce are you using?

[2019-10-13 17:21] notadamking commented on #26
@forhonourlx yes, though no distributed frameworks or multi-gpu agents have been implemented. Is this something you would be interested in contributing?

[2019-10-13 17:22] #27 closed

[2019-10-13 17:23] notadamking commented on #35
I believe this is the same as #27.

[2019-10-13 17:23] #35 closed

[2019-10-13 18:20] notadamking commented on #33
Closed by #19.

[2019-10-13 18:20] #33 closed

[2019-10-14 01:34] codeninja commented on #27
`Agent.from_spec(spec=agent_spec)`

is now

`        self._agent = Agent.create(agent=self._agent_spec,
                                        environment=self._environment,
                                        kwargs=dict(network=network_spec,
                                                    states=environment.states(),
                                                    actions=environmen

[2019-10-14 01:37] notadamking commented on #18
I have created the https://github.com/notadamking/tensortrade/tree/tensorforce0.5.1-upgrade branch to address these changes.

[2019-10-14 01:37] #10 closed

[2019-10-14 01:40] notadamking commented on #27
@codeninja check out https://github.com/notadamking/tensortrade/tree/tensorforce0.5.1-upgrade

[2019-10-14 18:05] codeninja opened #37 "Upgrade to Tensorforce 0.5.1"
With the release of Tensorforce 0.5.1 there are some major refactors needed. This issue request will track the work towards that goal.

A brief overview of the work required.

- Tensorforce architectural changes, method changes, and refactors will necessitate the restructuring of the environment and strategy classes as some methods and interactions have moved around.
- TF now has a new interface f

[2019-10-15 14:30] sleekmike opened #38 "ModuleNotFoundError: No module named 'talib'"
**System information**
Mac OS Mojave 10.14

- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorTrade version: 0.0.1a17
- TensorFlow version: 1.13.2
- Python version:3.7
- CUDA/cuDNN version:
- GPU model and memory:

Hello,
I have been trying to run the Tensortrade examples both locally and on Google Colab but I h

[2019-10-15 16:58] inetlab opened #40 "Bug: Feature transforms are very slow"
MinMaxNormalizer.transform: 0.4 sec on 5 feature columns

FractionalDifference takes almost 2s to transform 5 feature columns
History size was about 1000 elements at this moment, see log below

-- FractionalDifference: transform

  -- FractionalDifference: fractional_difference
    -- FractionalDifference: difference_weights size: 936 took 0.000429
  -- FractionalDifference: fractional_difference:

[2019-10-16 00:37] notadamking opened #41 "Feature Request: Create a simple way to manage context across all components."
**Funding:**
2 ETH (~$400 USD)

**Description:**
Create a simple way to manage framework-wide context such as API keys, component defaults, etc. in a single file or dictionary.

**Requirements:**
* Must be able to set context framework-wide via `tensortrade.set_context(context)`.
* The `context` argument can either be a `dict` or a json/yaml file (whichever is easier) of context variables/objects.

[2019-10-16 01:00] notadamking commented on #38
`pip install tensortrade[talib]`

[2019-10-16 01:00] #38 closed

[2019-10-16 01:04] notadamking opened #42 "Update Request: Update Tensorforce support from 0.4.4 to 0.5.2"
**Funding:**
0.25 ETH (~$50)

**Description:**
Update all TensorTrade components, documentation, and examples to support the latest version of Tensorforce (0.5.2 as of writing this).

**Requirements:**
* Must update each component using `tensorforce` to be compatible with v0.5.2
* Update all of the documentation to use the updated components
* Update all of the examples to use the updated componen

[2019-10-16 02:36] janus commented on #42
I would like to work on this but only if you would be willing to answer questions.

[2019-10-17 16:27] notadamking commented on #32
Added in #43

[2019-10-17 16:27] #32 closed

[2019-10-17 20:57] notadamking opened #44 "Feature Request: Create the render method for a TradingEnvironment."
**Funding:**
1.5 ETH (~300 USD)

**Description:**
Create a useful visualization of the `TradingEnvironment` in the `render` method.

**Requirements:**
* Implement a useful visualization of the `TradingEnvironment` and the underlying the learning agent's interactions with the environment's `InstrumentExchange`.
* Display the exchange balance, and all exchange observations/agent trades during each e

[2019-10-17 22:59] notadamking opened #46 "Feature Request: Create an action strategy w/ profit target and stop loss levels"
**Funding:**
1 ETH (~$200 USD)

**Description:**
Create a TargetStopActionStrategy, which creates trades by determining the profit target and a stop loss for that specific entry position.

**Requirements:**
* The strategy must be capable of trading a single asset at a time.
* The strategy must be set a profit target and a stop loss for each trade suggested.
  * The strategy must sell a trade posit

[2019-10-18 00:23] notadamking commented on #42
Added by #45

[2019-10-18 00:23] #42 closed

[2019-10-18 06:47] fbeenaerts commented on #38
On Google Colab, that doesn't work. I tried next and up till now, it seems to be OK (thanks to https://stackoverflow.com/users/6729010/korakot-chaovavanich)

!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib

[2019-10-18 07:12] fbeenaerts opened #47 "Bug: On Google Colab, KeyError: 'ppo_agent'"
After:
strategy = TensorforceTradingStrategy(environment=environment,                                       agent_spec=agent_spec, network_spec=network_spec)

I get the above error: KeyError: 'ppo_agent'

I think that in declaration of agent_spec, the "type" : "ppo_agent" should be replaced by "type": "ppo"

[2019-10-18 07:16] fbeenaerts commented on #47
After:
strategy = TensorforceTradingStrategy(environment=environment,                                       agent_spec=agent_spec, network_spec=network_spec)

I get the above error: KeyError: 'ppo_agent'

I think that in declaration of agent_spec, the "type" : "ppo_agent" should be replaced by "type": "ppo"

[2019-10-18 15:17] sleekmike commented on #38
thanks a lot @fbeenaerts let me give it a try.

[2019-10-18 18:58] rshtirmer opened #51 "Bug: Net Worth / Reward break when Pre_Tranform_Obs is off"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or [on the TensorTrade Gitter channel]((https://gitter.im/tensortrade-framework/community/) instead of opening a GitHub issue.</

[2019-10-18 22:11] dahifi commented on #28
I'm getting the same running off of the Docker build in Juptyter"

[code]

[2019-10-18 23:53] dahifi opened #52 "Feature Request: Implement ActionStrategy and InstrumentExchange to support Equities markets"
I realize that this library is primarily aimed at crypto markets, but I do a lot of equities trading and would like to help contribute.

I see that Adam has a stub for the IBKR API, but it doesn't look like there's been much action on it. There also doesn't seem to be much in the way of IB-related packages out there. The closest thing I can find is the Bankroll project. https://github.com/bankroll

[2019-10-18 23:56] notadamking commented on #52
Quite the contrary, though that was the initial focus, the framework is aimed at all trading markets: equities, forex, crypto, futures, etc. We would love to have more equities components implemented, if you are up to contribute!

[2019-10-19 00:21] dahifi commented on #52
Looking at bankroll, it seems to rely on IBKR for realtime data and CSV imports for the other brokerages, none of which are the one that I actively use.

There's already a module for Alpha Vantage that works to Pandas. I'm see if I can stub it out and start working on that. Having read access through their API will probably be low-hanging fruit.

[2019-10-19 02:05] dahifi commented on #28
Looks like @notadamking is using Python >= 3.6. Variable annotations were released in it and I think this is responsible for the error I'm seeing. Updating the Dockerfile to pull Python 3.6 should do the trick.

Will confirm.

[2019-10-19 03:08] dahifi commented on #28
Confirmed. Recommend bumping minimum Python version in the docs to 3.6 unless we want to go back and refactor out these syntax errors.

[2019-10-19 07:42] Kalelv45 opened #53 "Bug: Attribute '__isabstractmethod__' of 'staticmethod' objects is not writable in /examples"
running tutorial I get this error
while trying to import tensortrade.strategies
i get the following:

attribute '__isabstractmethod__' of 'staticmethod' objects is not writable

how do I fix this?

[2019-10-19 21:45] codeninja opened #54 "Simulated Exchange does not pre transform dataframe if it's set in object initialization."
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or [on the TensorTrade Gitter channel]((https://gitter.im/tensortrade-framework/community/) instead of opening a GitHub issue.</

[2019-10-20 00:22] #54 closed

[2019-10-20 00:24] notadamking commented on #53
How were you running the tutorial: Google colab or jupyter notebook?
Were you running the tutorial in Docker?

[2019-10-20 00:44] janus commented on #34
@notadamking
Is this still open?

[2019-10-20 00:46] notadamking commented on #34
@janus Yes, go ahead and apply on Gitlab if you'd like to take it on.

[2019-10-20 01:06] notadamking opened #56 "Feature Request: Replace TA-lib features with bukosabino/ta"
**Funding:**
0.25 ETH (~$50 USD)

**Description:**
Replace `TALibIndicator` component in `/tensortrade/features/indicators` with a component called `TaIndicator`, that uses the [bukosabino/ta](https://github.com/bukosabino/ta) package rather than TA-lib.

**Requirements:**
* Replace the `TALibIndicator` with a `TAIndicator`.
* Remove the `SimpleMovingAverage` indicator, and replace its usage in al

[2019-10-20 01:12] notadamking commented on #40
Have you diagnosed more about why this is happening @inetlab?

[2019-10-20 01:18] notadamking opened #57 "Feature Request: Support observing and trading multiple assets at a time"
**Funding:**
1.5 ETH (~$300 USD)

**Description:**
Create the necessary components to support observing multiple assets from an exchange, applying a feature pipeline to those assets, and making a trade on any of those assets.

**Requirements:**
* Create the necessary `InstrumentExchange` components (or update existing components) to support observing/trading multiple assets on both a simulated and

[2019-10-20 01:22] notadamking commented on #37
Done by #45

[2019-10-20 01:22] #37 closed

[2019-10-20 01:49] janus commented on #34
@notadamking
I have applied ... I would even study your code base so that I would be sound enough to take future tasks.

[2019-10-20 18:31] ASullet opened #59 "Issues with makefile & docker"
When I run the `make run-notebook` I got the following issue :

[code]

Can't even fix it, do you have any idea please ?

Thanks

[2019-10-20 18:42] notadamking commented on #59
Try pulling the latest version of the repo, I just pushed a fix.

[2019-10-20 18:42] #59 closed

[2019-10-20 18:42] #21 closed

[2019-10-20 18:42] #9 closed

[2019-10-20 18:43] notadamking commented on #18
Implemented in #45

[2019-10-20 18:43] #18 closed

[2019-10-20 18:43] notadamking commented on #22
@ruifeng96150 would you be interested in implementing these features for some $ETH?

[2019-10-20 18:47] #23 closed

[2019-10-20 18:48] notadamking commented on #28
Is this still happening?

[2019-10-21 15:47] notadamking commented on #30
I have doubled the funding on this issue.

[2019-10-22 00:21] sleekmike commented on #38
I was actually Able to fix the ta-lib issue by running the following commands on my Mac OS:
command:     brew install ta-lib
command:     pip install TA-Lib

for window, Linux and google collab check out this links:
https://stackoverflow.com/questions/52302861/how-do-i-install-ta-lib-in-python-3-in-mac-os-high-sierra

https://mrjbq7.github.io/ta-lib/install.html

[2019-10-23 15:36] inetlab commented on #40
not too careful, but seems using high level pandas API slow it down a lot

[2019-10-24 03:55] notadamking commented on #51
Should be fixed in #63

[2019-10-24 03:55] #51 closed

[2019-10-24 04:20] janus commented on #34
@notadamking
It is very unfortunate that I would not continue to work on this issue. I noticed that my machine architecture is not AIX and Tensorflow is compiled for that. My alternative is to use Anaconda which has Tensorflow but I wont be sure of its version. Is there anything you may suggest in this sphere?

[2019-10-24 04:22] notadamking commented on #34
@janus you can use Docker, via the provided `Dockerfile` and `Makefile`. Read the instructions in the Readme if you need.

[2019-10-25 10:13] janus commented on #34
@notadamking
I used Docker via Makefile, however I got the below. I am just testing the one that accompanied the repo.

collected 0 items / 4 errors

==================================== ERRORS ====================================
______ ERROR collecting tests/tensortrade/test_component_registration.py _______
ImportError while importing test module '/tests/tensortrade/test_component_registration.

[2019-10-25 11:45] LatiinB commented on #46
Hey @notadamking!
Sorry, for the closed pull request, this is pretty much the first time I have contributed to a Github Repo. I believe I have finished the requested feature, however it seems to be failing a fractional difference test. What does this mean?
You can find the file at the forked repo (https://github.com/LatiinB/tensortrade/blob/master/tensortrade/actions/target_stop_action_strategy.py

[2019-10-25 23:37] codeninja opened #69 "Dataframe is set and transformed multiple times."
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2019-10-26 07:43] janus commented on #34
If you are struggling to get tensorflow because your box is not AVX Arch, then check out this, https://github.com/davidenunes/tensorflow-wheels

[2019-10-26 11:18] janus commented on #34
@notadamking
I ran your test and I got the below. Seems like data_frame is not stable or am I missing something?  Is your result same as the below? If not what should I do?

kaa@kaa-Lenovo-G40-30:~/buildtool/job/amhello/gitcoin/tensortrade$ pytest tests/
============================================================ test session starts =============================================================
pl

[2019-10-27 03:41] forhonourlx opened #72 "KeyError: "Registering two gradient with name 'LSTMBlockCell'!"
[code]

[2019-10-27 10:04] hohl opened #75 "Feature Request: Keep the main package dependencies to the minimum"
**Summary**
Do not include the `TensorforceTradingStrategy` and the `StableBaselineTradingStrategy` in the main Tensortrade package. Right now, one has to install Tensorforce and Stable-Baselines packages even if he would use something total different (like a PyTorch-based implementation), just because all strategies get initialized when loading the `tensortrade` module.

**System information**
No

[2019-10-27 15:07] maochaokuo opened #77 "example TensorTrade_Tutorial.ipynb contains a few compile errors"
Hi:

Would you mind take a look at Github tensortrade / examples / TensorTrade_Tutorial.ipynb? (the jupyter notebook file). There are already a few compile-time errors in the original tutorial. I tried to follow the "Trade and Invest Smarter — The Reinforcement Learning Way" article, but failed to finish a simplest beginning example at all. Would you mind to make a workable simplest example for th

[2019-10-27 18:42] notadamking commented on #75
Does your PR fix this issue?

[2019-10-27 18:44] notadamking commented on #77
There are some code snippets that aren't meant to run. I will go through the tutorial today and mark these correctly, so they do not produce errors.

[2019-10-27 19:22] hohl commented on #75
Yes, thanks for accepting it.

[2019-10-27 19:22] #75 closed

[2019-10-28 05:03] Sirlupinwatson1 commented on #57
Hello @notadamking  , i started to work on this, but not sure where i should end it

[2019-10-28 07:19] Sirlupinwatson1 commented on #57
I wish i could have done much, but still tryng to figure some things out. i try to give you a link to my saved folder
sorry about that @notadamking

[2019-10-28 16:27] notadamking commented on #57
@Sirlupinwatson1 I do not see any submission.

[2019-10-28 16:28] notadamking commented on #77
Should be all fixed now.

[2019-10-28 16:28] #77 closed

[2019-10-28 16:28] notadamking commented on #72
Hmm.. looks related to both `stable-baselines` and `tensorforce` both importing `tensorflow`.

[2019-10-28 21:05] Sirlupinwatson1 commented on #57
Hi, sorry i just arrive, but yes, i have a sub with work done

[2019-10-28 21:10] Sirlupinwatson1 commented on #57
@notadamking  yesterday or 2 days ago i did add the code of conduct, it was missing , but i did build also and did all the test. i cloned my own and add my touch, it took me long to think about it because other project are happening at the sametime and lot of data here around :)

[2019-10-29 00:50] Sirlupinwatson1 commented on #57
@notadamking  i look for it now, i just finished my meeting. Sorry also about that. Thas is pretty bad since yesterday ive done all this for nothing haha. it should be somewhere

[2019-10-29 01:09] notadamking commented on #57
@Sirlupinwatson1 you are still welcome to submit a PR, though the code bounty is on a first come first serve basis at this point.

[2019-10-29 01:09] #28 closed

[2019-10-29 01:10] #53 closed

[2019-10-29 01:21] Sirlupinwatson1 commented on #57
@notadamking  , just to clarify, its always the first come first served ? its not judging by the quality work and time we took to do it ?

[2019-10-29 02:11] notadamking commented on #57
First come, first serve, if the quality is high enough :)

[2019-10-30 06:46] foolcatcora opened #82 "Bug: file inconsistency between the example code and the repo file"
<em>Bug: the example/data/.csv file is inconsistent with the file used in TensorTrade_Tutorial.ipynb. This causes a ValueError when running the example code</em>

**Code to reproduce the issue**
[code]

**Other info / logs**
[code]

[2019-10-30 16:54] carlomigs commented on #38
I have a simpler solution:
!pip install talib-binary
Not sure if it works the same but it seems to have eliminated all the talib-related errors i was previously experiencing.

[2019-10-30 18:07] wajihmsedi opened #83 "General question - Custom InstrumentExchange and ActionStrategy"
@notadamking I am not reporting an issue. I do have though two questions :
- how do you instantiate a trading environment with your own observations (maybe a constructor for InstrumentExchange ?)
-For actionstrategy can you do anything else then hold buy or sell. Can you for instance fix the volatility of your portfolio ?

Let me know if I need to clarify my question.

[2019-10-31 20:42] notadamking commented on #83
Hi @wajihmsedi, for future reference, there is an active discord with over 100 members who would be happy to answer your questions and work with you on a solution.

1. To instantiate environments with your own observations, you can pass a custom `data_frame` to a `SimulatedEnvironment`.

2. `ActionStrategy`'s can do whatever you program them to do. If you need more than is available in `TradeType`

[2019-10-31 20:42] #83 closed

[2019-10-31 21:09] wajihmsedi commented on #83
Hi @notadamking.

Thank you for your answer.
How to join the discord group ?
On number 2 is tensortrade supporting creation of own `TradeType` ? Going forward how is it with `InstrumentExchange` and `RewardStrategy` ?
I am new to reinforcement learning but went through the theory. I want to get my hands dirty now :)

[2019-11-02 03:56] maochaokuo opened #86 "why net_worth charts are different between posted article and github notebook file?"
hi,

I appreciate the TensorTrade_Tutorial.ipynb file got fixed, and I may run it myself. However, I have a question about the content. The networth chart, what we really care about as the final result, is different between the one in the Medium article (title: "Trade and Invest Smarter -- The Reinforcement Learning Way) and the one (actually two) in TensorTrade_Tutorial.ipynb file.

The networth

[2019-11-02 05:20] codeninja commented on #86
One of the primary differences is in the episodes that the neural network
agent was able to train on. The example in the source is set to train for
10 episodes so that it can finish within a demo period. The agent you see
represented in the final image was tuned over many thousand episodes. This
of course takes time that a demo would not have (weeks or more depending on
how you train it).

The fra

[2019-11-02 15:25] maochaokuo commented on #86
Hi Dallas:

I just updated everything, from github tensortrade, including the TensorTrade_Tutorial.ipynb file. I changed steps to episodes(=50), but still get similar result, as attached.
![github-chart1episodes50](https://user-images.githubusercontent.com/6857537/68073151-f909d080-fdc7-11e9-9768-1a0b4a112d8f.png)

[2019-11-02 15:28] maochaokuo commented on #86
Daily result just come out. It is a bit better, but eventually still
.....
![github-chart2episodes50](https://user-images.githubusercontent.com/6857537/68073213-79c8cc80-fdc8-11e9-909d-c6d49f9a73db.png)

[2019-11-02 15:34] #41 closed

[2019-11-02 17:23] codeninja commented on #86
50 episodes is not nearly enough training for a production system. Train
for 1000 episodes and your results should improve to production performance
levels.

As with any framework, the outcome will be dependent on how you implement
your network, your rewards, and your strategy. Also, you must test your
network on data which it has never seen before to ensure it's performance
is not overfit to the

[2019-11-03 01:05] maochaokuo commented on #86
I get it. However, the difference between the article and Jupiter notebook file is misleading and confusing. Anyway, I look forward to the framework to become available in the near future. Thank you for your hard work and contribution.

[2019-11-03 01:05] #86 closed

[2019-11-05 16:06] lpfloyd commented on #57
has this been submitted yet?

[2019-11-05 19:19] notadamking commented on #30
Closed by #88

[2019-11-05 19:19] #30 closed

[2019-11-06 01:55] Sirlupinwatson1 commented on #57
@lpfloyd  NO, you can win this

[2019-11-06 08:47] junfang2019 commented on #47
from tensorforce.agents import Agent
from tensorforce.environments import Environment
from tensortrade.environments import TradingEnvironment
from tensortrade.exchanges.simulated import FBMExchange
from tensortrade.features.scalers import MinMaxNormalizer
from tensortrade.features.stationarity import FractionalDifference
from tensortrade.features import FeaturePipeline
from tensortrade.rewards imp

[2019-11-06 17:59] RaedShabbir opened #92 "MinMaxNormalizer with dtype=np.float16 Results in all Zero Observations from Feature Transformer"
In CCXT exchange the bounding box is created in the generated_spaces method,

`high_price = float(self._markets[self._observation_symbol]['limits']['price']['max'])

= 1,000,000

np.float16(high_price) = inf`

The resulting step in minmax normalizer thus pushes everything to zero by dividing by inf,

`normalized_column = (X[column] - low) / (high - low) * scale`

where high is inf.

[2019-11-06 18:15] RaedShabbir opened #93 "Window Size Indexing Bug In Simulated Exchange Results in First Observation Being Input Twice Into Feature Transformer"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2019-11-06 18:23] bluckbavey commented on #57
Hey!
Started reading up on the linked post and implemented a basic `TradingStrategy`.
Would get into finer details now.

Question: How frequently should I be posting my updates here?

[2019-11-07 22:09] ViralBrain opened #94 "Feature Request: Tuning your strategy"
Hello, I get an error when I try to optimize hyperparameters.
<img width="1149" alt="TUNE" src="https://user-images.githubusercontent.com/36205994/68430785-67c89e80-01b9-11ea-812d-c2a638bd309f.png">

Traceback:
[code]
Git: v1.15.0-rc3-22-g590d6ee
TensorFlow: 1.15.0
OS: Mac OS Catalina (but it doesn’t matter, I run on Google Colab)

What could be the problem?
I tried to do everything exactly as in

[2019-11-08 14:12] ViralBrain commented on #94
I realized that this function is still in development...

[2019-11-10 01:18] notadamking opened #97 "Feature Request: Forex exchange implementation using Meta Trader 4"
**Funding:**
1.75 ETH (~$450 USD)

**Description:**
Create an implementation of `Exchange` capable of trading any forex pair on the MetaTrader 4 (MT4) platform.

**Requirements:**
* The exchange implementation must be completely interoperable with MT4, including spinning up any necessary ZeroMQ infrastructure.
* The exchange must fully implement the `Exchange` class, including the ability to list

[2019-11-10 02:14] notadamking commented on #93
Fixed in latest commit.

[2019-11-10 02:14] #93 closed

[2019-11-10 10:07] Kalelv45 opened #99 "Tutorial Fail to run"
While Running inside Jupyter Notebook 'TensorTrade_Tutorial.ipynb' file, I get this error and can't continue:

from tensortrade.actions import DiscreteActionStrategy
action_strategy = DiscreteActionStrategy(n_actions=20, instrument_symbol='BTC')

ERROR:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call

[2019-11-11 08:32] junfang2019 commented on #99
For the newest edition, the TensorTrade_Tutorial.ipynb run smoothly.
Would you please attach your TensorTrade edition?

or you can update yours to the latest edition.

pip3.7 install git+git://github.com/notadamking/tensortrade.git -U

[2019-11-11 09:04] Kalelv45 commented on #99
Thanks a lot, seems to work just fine now.

[2019-11-11 09:47] junfang2019 commented on #99
IMHO, this problem is the python environment setup problem. I use in raw python, did not set up this inside docker. Maybe you can try this.

Or you can copy the code outside Jupiter notebook in any IDE, e.g. PyCharm

[2019-11-11 09:48] Kalelv45 commented on #99
I was able to arrive till this point:
import pandas as pd
from tensortrade.environments import TradingEnvironment
from tensortrade.exchanges.simulated import SimulatedExchange

df = pd.read_csv('data/Coinbase_BTCUSD_d.csv', skiprows=1)
exchange = SimulatedExchange(data_frame=df,
                             feature_pipeline=feature_pipeline,
                             base_instrument='USD',

[2019-11-11 19:29] molecula451 commented on #82
Hi @notadamking . IMO. This might be happening because the resent transition tensorforce support from 0.4.4 to 0.5.2 . What do you think ?

[2019-11-12 02:23] dahifi commented on #56
This should be closed since the PR was merged: https://github.com/notadamking/tensortrade/pull/89

[2019-11-12 02:25] notadamking commented on #56
There is still one failing test that has been commented out. Are you planning to fix it or should we remove the commented-out code and close this issue?

[2019-11-12 20:42] macd2 opened #101 "TensorforceTradingStrategy looks broken"
this strategy is not working and no matter what it results in a

[code]

This error is related to tensorforce the shape of actions is not correctly passed

[2019-11-13 03:01] dahifi commented on #56
@notadamking Let me know if you want me to do another PR, or just copy this:
https://github.com/dahifi/tensortrade/blob/fr_56/tests/tensortrade/features/indicators/test_ta_indicator.py

[2019-11-13 18:34] RaedShabbir commented on #46
Hey @LatiinB  fantastic job with this, I think in the following line you actually want the absolute value? Otherwise, a negative value can be returned.

`
else:
                #calculate the amount needed to be sold
                profit_target_hit = current_price >= (trade[1] * trade[3])
                stop_loss_hit = current_price <= **abs**(trade[1] * trade[4])

                if profit_tar

[2019-11-14 09:38] Brian0906 opened #104 "Can the agent buy different coins in an exchange?"
as title, I want the agent to do buying and selling among different coins, how can I reach it?

[2019-11-14 16:19] RaedShabbir opened #106 "Lookahead Bug in Current Price Method"
In the current price method for simulated exchange, the step at which the price is accessed is one step ahead. This is because at the end of the next_observation method we call self._current_step += 1. Then the step method is called following this.

The below has worked for me to fix this.
Proposed Solution:
Add a step attribute to trade objects, then all methods for current price and what not can

[2019-11-14 17:09] notadamking commented on #104
This is currently being worked on in #57

[2019-11-14 17:09] #104 closed

[2019-11-14 17:10] notadamking commented on #101
I believe this is a bug in Tensorforce, as they are not feeding the correct shape when the `window_size` is > 1.

[2019-11-15 06:36] zoek1 commented on #34
@notadamking could i start work on this? i'm happy to learn and build the testsuite for tensortrade

[2019-11-15 06:37] notadamking commented on #34
@zoek1 Yes, please do.

[2019-11-15 10:22] hn2 opened #107 "Tensortrade for portfolio"
Is it currently possible to train and trade a portfolio of instruments?
Does the exchange object supports that?
There is a multi-discrete action schema, however wouldn't it be better to also have multi-continuous action with cash bias, something like (box(-1,1) * num_of_instruments + 1)?

[2019-11-15 17:00] notadamking commented on #106
If you take a look at the order of execution within the environments step function, you can see that _take_action is called before_next_observation.
I.e. any trades made using current_price are made using the correct price, since current_step has not been updated yet.
There is a possibility of a problem with _get_reward being called after _next_observation, as the reward would be based on the curr

[2019-11-15 17:00] #106 closed

[2019-11-15 17:01] notadamking commented on #107
Hi @hn2, this is currently being worked on in #57

[2019-11-15 17:01] #107 closed

[2019-11-15 17:07] hn2 opened #109 "Support for symmetric action space"
Do you have plans to support symmetric action space of type Box required for table baseline models such as SAC or DDPG?
I tried this:
action_scheme = ContinuousActions(instrument='ETH/BTC')
strategy = StableBaselinesTradingStrategy(environment=environment, model=SAC, policy=LnMlpPolicy, tensorboard_log='log_1' )

But got:
AssertionError: Error: the action space low and high must be symmetric

This

[2019-11-15 17:55] RaedShabbir commented on #106
I still think this may be an issue because during reset next_observation is called prior to _take_action is called. Let me know what you think, I added more details and code in #development on disc. If I'm not mistaken I'll share the proposed solution, an easy fix.

[2019-11-15 21:36] sleekmike commented on #97
Hello any progress here?

[2019-11-16 10:17] fbeenaerts opened #110 "train_and_evaluate.ipynb on MacOs & Visual Studio Code -> setup.py not found"
<em>The !pip3 install -e .. - U gives always error: ERROR: File "setup.py" not found. Directory cannot be installed in editable mode

This is when executing the train_and_evaluate.ipynb file under folder \examples
</em>

**System information**

- OS Platform and Distribution: macOS Mojave - 10.14.6
- TensorTrade version: 0.1.0-rc1
- TensorFlow version: 1.13.1
- Python version: 3.6.7

[2019-11-16 13:16] CoeJoder commented on #97
I've through the docs and the tutorial to familiarize myself with the application and requisite concepts, and am beginning my implementation of this Exchange class now.

[2019-11-19 07:41] CoeJoder commented on #97
@notadamking The requirement is for MT4 compatibility, however the company no longer provides an installer for MT4.  Support threads on this topic suggest that you can only obtain MT4 through a broker, eg:
https://www.mql5.com/en/forum/216552

Do you have an official installer for MT4 you could provide, or can this requirement be changed for MT5 compatibility?

[2019-11-20 09:59] zoek1 commented on #34
@notadamking i'm complimenting the rewards and features tests. I see there are modules already covered, do you have a priority order for modules after i finish the current complementary tests?

[2019-11-23 09:18] tempsvps opened #115 "strategy.run(episodes=episodes, render_mode="chart")  -> IndexError: index -1 is out of bounds for axis 0 with size 0"
**System information**

- OS Platform and Distribution Windows 10
- TensorTrade version:
- TensorFlow version: 1.15.0
- Python version: 3.6

**Describe the current behavior**
Testing new chart render. Errror:
"C:\Users\Miner\Documents\GitHub\!MyTensorTrader\tensortrade\environments\render\matplotlib_trading_chart.py", line 132, in render
    net_worth = round(net_worths[-1], 2)
IndexError: index -

[2019-11-26 12:29] dahifi commented on #56
@notadamking Shouldn't this be closed since the issue has been paid out? We should open a new one if additional work is needed.

[2019-11-27 02:42] notadamking opened #119 "Feature Request: GANExchange implementation of SimulatedExchange"
**Funding:**
$300 DAI (~$300 USD)

**Description:**
Create an implementation of `SimulatedExchange` using price data generated with a Generative Adversarial Network (GAN).

**Requirements:**
* The `GANExchange` should allow the input of a `pandas.DataFrame` in order to train on, before generating price data similar to the input data. (e.g. input a data frame with 'open', 'high', 'low', 'close', an

[2019-11-27 17:27] CoeJoder commented on #97
Update: I have the basic features working.  It took longer than expected because I had to write additional MQL4 code than what was provided by the 3rd party connector library.  Still working on it and will provide updates on progress this week as I have time.

[2019-11-27 21:13] jpu2 commented on #72
Hi, I solved the same error by installing the same version of tensorflow and tensorflow-gpu (1.14.0).

[2019-11-29 01:20] sleekmike commented on #97
ok this is great!!! keep the good work mate, I am really looking forward to the update on the progress.

[2019-11-30 16:00] maj0e commented on #44
Hi, I'm thinking about working on this issue. Is it still open or was there any progress in that direction? I saw some code, using bokeh in one of the jupyter notebooks and a render method using matplotlib seems also to be there....

[2019-11-30 20:16] rracinskij commented on #110
Same error while trying to build a Docker image or run the code in the Google Colab.

[2019-12-02 13:21] kuaige99 commented on #115
There was a bug: environment will be reset before render.
stable-baselines will reset env in the _environment.step when environments is done.
![code](https://user-images.githubusercontent.com/58417761/69957646-01c40280-153e-11ea-95ab-4d0763447f49.jpg)
The solution: in render funtion modify code
`if self.viewer is not None and self._current_step > 1:`

[2019-12-02 21:26] CoeJoder commented on #97
@notadamking Almost done.  I've created a nice API for all the data pulled from MT4, and have methods implemented which pull the data and makes trades as required.  However there's a conceptual gap between crypto and forex trading, so I need clarification on what to return for a few `Exchange` properties:

`Exchange::portfolio()`
A forex account is always denominated in the account's currency.  Yo

[2019-12-04 20:32] Nucs opened #126 "Feature Request: Exchange support for Interactive Brokers (IB)"
Hey, I noticed that [interactive_brokers_exchange.py](https://github.com/notadamking/tensortrade/blob/master/tensortrade/exchanges/live/interactive_brokers_exchange.py) on master branch is incomplete.
Are there any plans on completing it soon or is help wanted?

[2019-12-05 02:43] ramoslin02 commented on #22
Can we implement a switch for trading spot or futures? users just turn on the switch to True for trading Futures and False for spot.

[2019-12-05 11:47] ramoslin02 commented on #22
This is a good idea, while trading the amount can by send by other signal, or just trading with the fixed amount. Or like the example like this:

[2019-12-05 17:45] codeninja commented on #56
There are some issues with the TA model you submitted. I will see what I
can do today to detail the problems and what needs to be corrected. Since
you were the IC for this work I feel you should have first pass at the
corrections.

Thanks,
Dallas
---------------------------------------
*Professional leader of highly performant engineering teams since 1997*
*512.923.4426 | Github  <https://github.c

[2019-12-06 02:37] ramoslin02 commented on #99
the feature_pipeline is not the argument in the initialization method, if you want to assign the feature_pipeline to the exchange, you can do it like this:
-> exchange.feature_pipeline = feature_pipeline

[2019-12-06 22:56] notadamking commented on #97
Hi @CoeJoder,

Thanks for your contribution! I have been asked to pass some information along:

<img width="1014" alt="Screen Shot 2019-12-05 at 3 04 39 PM" src="https://user-images.githubusercontent.com/14098106/70362054-8497d680-1838-11ea-8039-b477babfbec1.png">

[2019-12-06 23:53] simonesalvucci commented on #47
After looking into the Tensoforce clases I came up with this:

- ppo_agent should be replaced by "type": "ppo"  as @fbeenaerts said
- step_optimizer is not part of a TensorForce Agent and shouldn't be used I think.
- learning_rate is taken out from step_optimizer as it is still needed
- max_episode_timesteps is added a per TensorForce agent

Doing so solves the error
`agent_spec = dict(type='ppo',

[2019-12-09 12:23] cuda2625403 opened #129 "can not open https://discord.gg/ZZ7BGWh"
can not open https://discord.gg/ZZ7BGWh     ,why?  thank you

[2019-12-09 16:15] ramoslin opened #130 "For live trading, when will the environment start to execute the step function?"
Question.

For live trading, when will the environment start to execute the step function? And when will the environment ask the observation (the ohlcv data from the live exchange)?  I did not understand how the framework execute. Thanks and best regards.

[2019-12-09 16:59] notadamking commented on #129
Discord was down for a bit, it looks like. Link is working again!

[2019-12-09 16:59] #129 closed

[2019-12-10 06:48] Tonza91 commented on #110
Did you already solve it?

[2019-12-11 00:24] CoeJoder commented on #97
Thank you for the response.  As this did not answer my question regarding the contract of the `Exchange` class, I will interpret it as an update to the requirement. That is, instead of delivering an implementation of the `Exchange` class, I will deliver the following three classes: `Trades`, `Balance` and `Margin` which will act as proxies for the MetaTrader terminal, providing all of the interact

[2019-12-14 22:07] sleekmike commented on #97
Hello CoeJoder,
have you any progress or update  on the issue that you are working on so we can try it?
also why are you not on the discord group?

[2019-12-14 22:43] CoeJoder commented on #97
@sleekmike Hi Mike.  I have joined the discord group now.  Currently I have a Python API for creating new market & pending orders, closing/deleting orders, checking all account properties (balance, margin, etc), checking all symbol properties (latest tick, fetching OHLCV bars), calling any of the built-in indicator functions, and fetching data from all available signals.  These are demonstrated wi

[2019-12-15 14:01] sleekmike commented on #97
Ok great! what's your discord id or name? I want us to collaborate on this issue.

[2019-12-15 16:03] CoeJoder commented on #97
Sounds good. Name is same as here, CoeJoder.

[2019-12-15 21:04] notadamking commented on #57
Solved by #125

[2019-12-15 21:04] #57 closed

[2019-12-15 21:05] notadamking commented on #46
Solved by #125

[2019-12-15 21:05] #46 closed

[2019-12-15 21:06] notadamking commented on #56
Solved by #81

[2019-12-15 21:06] #56 closed

[2019-12-15 21:06] notadamking commented on #109
Should be possible now after #125 is merged

[2019-12-15 21:06] #109 closed

[2019-12-15 21:07] notadamking commented on #101
Possibly solved in Tensorforce 0.5.2

[2019-12-15 21:07] #101 closed

[2019-12-15 21:07] notadamking commented on #92
Fixed in #125

[2019-12-15 21:07] #92 closed

[2019-12-15 21:08] notadamking commented on #69
Fixed in #125

[2019-12-15 21:08] #69 closed

[2019-12-15 21:08] #47 closed

[2019-12-15 21:09] #40 closed

[2019-12-15 21:09] #72 closed

[2019-12-15 21:10] notadamking commented on #115
Fixed in #125

[2019-12-15 21:10] #115 closed

[2019-12-15 21:10] notadamking commented on #130
Please ask questions on the discord.

[2019-12-15 21:10] #130 closed

[2019-12-15 22:06] sleekmike commented on #97
I need your discord ID to add you, I can't find you on the group you have not commented in any section.

[2019-12-17 01:55] diazagasatya opened #133 "TAlibIndicator: Missing function _str_to_indicator"
Hey I notice that you are missing the `_str_to_indicator()` private function in [talib_indicator.py](https://github.com/notadamking/tensortrade/blob/master/tensortrade/features/indicators/talib_indicator.py).

[2019-12-18 09:36] TheSnowGuru commented on #97
Hey Coejoder,
I am sorry if I confused you with my request. let's make things simpler . this is important that users will be able to easily understand what is inside a class. and it has to make sense.
**Find my request inline with your comments.**
Moreover,
We have to divide the work with mt4 into 2, inputs & outputs.
in regards to the classes you mentioned:

### Inputs to TT from from the MT4 :
W

[2019-12-18 13:06] TheSnowGuru commented on #97
Small note, most FX brokers nowdays supports more assets like CFD's , e.g gold, silver, crude oil, indices, it's important that the agent will be able to engage with those as well, and not just fx pairs.

these are the parameters and characteristics these assets have:
`Name`,`Price`,`Spread`,`RollLong`,`RollShort`,`PIP`,`PIPCost`,`MarginCost`,`Leverage`,`LotAmount`,`Commission`,`Symbol
thx

[2019-12-19 05:01] CoeJoder commented on #97
@TheSnowGuru Thank you for the very detailed response.  The `Exchange` methods pass their return values to other components in the `TradingEnvironment`.  Since these return values will be of a different type than the usual, it will not be compatible with any of the existing `ActionScheme` implementations (`DiscreteActions`, `ContinuousActions`, `DiscreteActions`, `MultiDiscreteActions`).  I think

[2019-12-19 08:31] jjbeto commented on #110
On my Mac (macOS Catalina 10.15.2) with Python 3.7.4: **all ipynb files fails to run**

I also notice that lots of the examples actually cannot run on master due to missing constructor parameters. As I'm completely newbie here and the project looks really promissing, I'm trying to track down each error and find how to solve it, but it is really hard to get into the project and just play samples.

[2019-12-20 08:17] sleekmike commented on #97
Ok @CoeJoder I will get back to you on this soon!

[2019-12-21 00:14] diazagasatya opened #135 "CCXT exchange potential bug."
<em>Hey I think there's a potential bug in cctx_exchange.py line 140 and line 143. Please correct me if I'm wrong. </em>

In [ccxt_exchange.py](https://github.com/notadamking/tensortrade/blob/master/tensortrade/exchanges/live/ccxt_exchange.py), should it be referencing to `executed_order['status'] == 'open' instead of the regular Order object order['status'] == 'open'. This is also apparent in lin

[2019-12-22 00:19] coj337 commented on #135
Can confirm it's an issue - addressed in #137

[2019-12-22 07:14] YasserHassan opened #138 "Bug: `ccxt` is not optional as per the documentation."
This is not exactly a bug but still causes an error and inconsistent with the documentation. The documentation mentions that `ccxt` is an optional dependency in the Installation section. However, if `ccxt` is not installed, an error is produced when importing `SimulatedExchange`.

Running:
[code]
Gives:

[2019-12-22 20:17] YasserHassan opened #139 "MinMaxNormalizer input_min default value is different in code and documentation."
https://github.com/notadamking/tensortrade/blob/07f32447ef80d012a274623be5ebca4af03ceb25/tensortrade/features/scalers/min_max_normalizer.py#L30

https://github.com/notadamking/tensortrade/blob/07f32447ef80d012a274623be5ebca4af03ceb25/tensortrade/features/scalers/min_max_normalizer.py#L38

[2019-12-22 21:56] YasserHassan opened #140 "`MinMaxNormalizer` produces incorrect results."
`MinMaxNormalizer` seems to produce incorrect results as shown below.
[code]

[2019-12-23 07:33] YasserHassan commented on #140
I need to confirm my understanding before I submit a pull request. Are `input_min` and `input_max` used to clip input column values before scaling?

If so, they should default to None in my opinion to be used only if defined, otherwise they may cause an undesired behavior. For example, while an `input_max` default value of 1E8 should not affect price columns, it may do so when scaling the volume c

[2019-12-24 07:16] YasserHassan commented on #40
I confirm that this issue still exists. Here's a runnable example:
[code]
Result:

I traced the problem and found it resulting form this code part: https://github.com/notadamking/tensortrade/blob/07f32447ef80d012a274623be5ebca4af03ceb25/tensortrade/features/stationarity/fractional_difference.py#L82-L83

[2019-12-24 07:23] YasserHassan opened #141 "FractionalDifference is very slow"
Here's a runnable example:
[code]
Result:

I traced the problem and found it resulting form this code part: https://github.com/notadamking/tensortrade/blob/07f32447ef80d012a274623be5ebca4af03ceb25/tensortrade/features/stationarity/fractional_difference.py#L82-L83

[2019-12-24 18:50] RusEu commented on #99
I think the documentation is outdated .. I also get this problems.
Searching in the code.. I see no DiscreteActions class nowhere

[2019-12-25 09:50] YasserHassan opened #142 "Enhancement: Add name specification for new columns in feature transformers"
I suggest adding an option to feature transformers to specify newly generated column names when `inplace` is set to False. That can give more control over the feature pipeline and help avoid possible problems. I suggest implementing this in one of the following ways:

- Add a new dictionary option to `inplace` as `{'col_name': True|False|<string>}` for column-level control. True/False will work no

[2019-12-26 05:59] YasserHassan opened #143 "Feature Request: Add callable transformation to data source (Exchange/DataFeed)"
This is meant to provide an alternative to - and probably complete replacement for - using the feature pipeline. Typically the developer would create his own data transformation in a separate function then attach it to the data source as a callable. The benefits are:
- More control over creating the dataset while avoiding the complex feature pipeline approach.
- Easier integration of other tools l

[2019-12-28 01:18] jakemanger opened #144 "All example .ipynb files and code in the tutorial doesn't run"
I have downloaded all requirements and tensortrade. When I run any of the example scripts or go through the tutorial, I run into the error that some package is missing or incorrect, e.g. DiscreteActions does not exist and wallet_tuples is not in Portfolio (it was changed to wallets). The list goes on.

To reproduce, download tensortrade, install requirements, try any of the example files or the tu

[2019-12-28 05:04] YasserHassan commented on #144
The project is currently undergoing many changes. The examples and documentations haven't been updated yet. Hopefully some of these issues will be fixed with the upcoming PR merges. For the time being, try finding more help via Discord discussions.

[2019-12-29 17:58] 123mitnik opened #145 "ImportError: cannot import name 'DiscreteActions'"
just installed tensortrade. I tried to run some simple code and to see how this lib is working but unfortunately stumbled on the following

when calling

[code]

[code]

any working example of tensortrade will be appreciated

[2019-12-29 18:53] ycchangabriel commented on #145
I have the same issue

[2019-12-29 23:56] neahook commented on #145
Same issue here, have searched the internet looking for clues and can't find anything. Also have this error when running the run-tester command:

collected 129 items / 1 errors / 128 selected

======================================================== ERRORS ========================================================
____________________________ ERROR collecting tests/tensortrade/exchanges/test_exchang

[2019-12-30 06:50] YasserHassan commented on #145
The tutorial hasn't been updated yet. Try the _new_actions_ notebook or check again after the new PRs are merged.

[2019-12-30 10:38] 123mitnik commented on #145
@YasserHassan it is not working either .. I guess we just need to wait

[code]

[2019-12-30 10:53] neahook commented on #145
Good things are worth waiting for :-)

On Mon, 30 Dec 2019 at 10:38, 123mitnik <notifications@github.com> wrote:

[2019-12-30 13:53] YasserHassan commented on #145
You can also try finding help via Discord discussions.

[2020-01-09 21:02] mg64ve commented on #145
I have same issue

[2020-01-11 08:09] 123mitnik commented on #143
i fully support this request..the most simple reason for having it is that you can plugin external feats that are not directly related to price transformations. I have plenty of them and there is no easy way to integrate them inside TT. The @YasserHassan proposal will allow easy integration of external tools and features for experimenting and will decouple TT from specific implementation rigidness

[2020-01-15 03:14] tendrillion opened #148 "the error of strategy.run () return value."
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2020-01-15 22:58] diazagasatya opened #149 "Wrote some testing for the exceptions.py class, hope this is helpful for future testings."
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2020-01-17 18:58] spacewalkingninja opened #151 "⚠️ Anybody got models for this? ⚠️"
Do you have pre-trained models for this :) ?

Can @notadamking check this please? I'm using RLTrader cause I got the article model.
If this has models trained that perform as good, would like to test them out!

Thanks guys!!!

[2020-01-17 20:15] vkrot opened #152 "Missing window_size arg in exchange.next_observation() call"
Missing window_size argument, I guess it should be
[code]

https://github.com/tensortrade-org/tensortrade/blob/1032b3269345abcced33c91198665a651676f8c6/tensortrade/environments/trading_environment.py#L271

[2020-01-20 16:04] LeoIV commented on #72
Just for anybody else who reads this: this error occurs in cases where you import `tensorflow_core` instead of `tensorflow` in TensorFlow 2.x.

Even though `tensorflow_core` is eventually imported by `tensorflow`, you have to use `tensorflow`.

[2020-01-21 20:23] vkrot commented on #152
simply adding window_size causes following error at runtime:
[code]

[2020-01-22 01:59] CoeJoder commented on #97
I was notified directly by the bounty sponsor that he and his partner are no longer interested in this feature, therefore I will stop work on it.

[2020-01-22 16:51] #141 closed

[2020-01-22 16:52] #152 closed

[2020-01-22 16:53] mwbrulhardt commented on #145
The DiscreteActions class does not exist anymore.

[2020-01-22 16:53] #145 closed

[2020-01-22 16:54] mwbrulhardt commented on #142
Feature transformers are no longer used in the current setup at this time.

[2020-01-22 16:54] #142 closed

[2020-01-22 16:56] mwbrulhardt commented on #143
This has been incorporated into the `DataFeed`.

[2020-01-22 16:56] #143 closed

[2020-01-22 16:58] mwbrulhardt commented on #139
`MinMaxScaler` is no longer in library.

[2020-01-22 16:58] #139 closed

[2020-01-22 16:58] mwbrulhardt commented on #133
No longer in library.

[2020-01-22 16:58] #133 closed

[2020-01-22 17:00] mwbrulhardt commented on #99
`DiscreteActions` is no longer in the library. Also there are other relevant issues referencing the failing tutorials that are more recent.

[2020-01-22 17:00] #99 closed

[2020-01-22 17:00] mwbrulhardt commented on #140
`MinMaxNormalizer` is no longer in the library.

[2020-01-22 17:00] #140 closed

[2020-01-22 20:01] 123mitnik commented on #26
As mentioned in the discord TT channel by @MetalMind "JP Morgan is making use of RAY"

this is confirmed inside the document -  https://arxiv.org/pdf/1811.09549.pdf

authors Vangelis Bacoyannis, Vacslav Glukhov, Tom Jin, Jonathan Kochems, Doo Re Song @jpmorgan

[code]

[2020-01-22 20:46] 123mitnik opened #157 "Hierarchical training using multi-agents - Feature Request"
The implementation of hierarchical training inside TT will be a crucial part of implementing profitable strategies.

It may be the difference between winning and losing strategy.

By implementing hierarchical training, the training decisions can be grouped into different levels of granularity (e.g. timeframes based - long/short term, etc..) this way a group of agents can cooperate and create a pow

[2020-01-23 10:32] sleekmike commented on #97
Hello CoeJoder, your bounty will be paid shortly, we are still interested in the feature so I suggest you continue working on it. Thanks

[2020-01-23 11:28] YasserHassan opened #158 "Change InvalidOrderQuantity name to match description and add new ones for fractions"
I suggest renaming `InvalidOrderQuantity` to `InvalidNegativeOrderQuantity` to match its description "_Order sizes must be positive._" and add new `InvalidFractionalOrderQuantity/InvalidNonIntegerOrderQuantity` and `InvalidFractionalQuantity/InvalidNonIntegerQuantity` exceptions for the invalid fraction quantities with fractions for both order and quantity exceptions to be used with such cases.

h

[2020-01-26 12:36] sleekmike commented on #97
Hello CoeJoder!

[2020-01-27 10:20] NetAck-76 opened #160 "ImportError: cannot import name 'StableBaselinesTradingStrategy'"
Hi,

I've recently start to test tensortrade, and hi start to check how it operate using sample in the GIT repository.
If I try to run the  _"tensortrade/examples/new_actions.ipynb"_ sample I get this error:

from tensortrade.strategies import StableBaselinesTradingStrategy
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'StableBaselinesTrad

[2020-01-28 06:12] notadamking commented on #148
Strategies have been removed from the library.

[2020-01-28 06:12] #148 closed

[2020-01-28 06:12] notadamking commented on #160
Removed from library in 0.2.0

[2020-01-28 06:12] #160 closed

[2020-01-28 06:13] notadamking commented on #110
Updated the notebook. Should be fixed.

[2020-01-28 06:13] #110 closed

[2020-01-29 00:50] notadamking opened #164 "Feature Request: Enable CUDA GPU acceleration in ParallelDQNAgent"
**Funding:** $250 USD (GitCoin link pending)
**Feature:** Enable CUDA GPU acceleration in ParallelDQNAgent

  As a user
  I want to use a CUDA GPU device to accelerate the ParallelDQNAgent's calculations.
  However, this does not currently work due to a bug with CUDA running in multiple processes.

  Scenario: Train a parallel agent w/ a GPU
    GIVEN I have a `ParallelDQNAgent` (`agent`)
    AND

[2020-01-29 01:25] notadamking commented on #138
This has been fixed.

[2020-01-29 01:25] #138 closed

[2020-01-29 01:26] notadamking commented on #144
The examples are being updated this week. Currently, the `setup_environment_tutorial` and `train_and_evaluate` examples are working. The rest will be updated this week.

[2020-01-29 01:26] #144 closed

[2020-01-29 19:29] YasserHassan opened #165 "Enhancement: Make exchange optional in Wallet"
I think `exchange` should be optional here. I imagine if I want to use a wallet for a stock like TSLA or GOOG, I would only need the symbol and quantity (and average share price) but not necessarily the exchange.

https://github.com/tensortrade-org/tensortrade/blob/401062089d4235eb844c588b3ff4a841cdc30b43/tensortrade/wallets/wallet.py#L25

[2020-01-30 07:57] YasserHassan opened #166 "Attribute _value not initialized in class Node"
Attribute `_value` not initialized in the class `Node` though it has corresponding `value` property setter and getter by default and available to it and its derived classes, causing errors like the following when accessed:

https://github.com/tensortrade-org/tensortrade/blob/401062089d4235eb844c588b3ff4a841cdc30b43/tensortrade/data/stream/node.py#L45-L51

[2020-01-30 10:53] CycloneMAO opened #167 "Unconfirmed Bug: The example setup_environment_tutorial.ipynb breaks when ran"
**Error tracing**
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-127-85400e2daa32> in <module>
      3 env = TradingEnvironment(portfolio=portfolio,
      4     action_scheme='managed-risk',
----> 5     reward_scheme='simple')

E:\anaconda\envs\STA\lib\site-packages\tensortrade\e

[2020-01-30 10:56] CycloneMAO commented on #167
The following codes define the compile method, which is part of the initialization of the TradingEnvironment class within the package's source code.
def compile(self):
        """
        Sets the observation space and the action space of the environment.
        Creates the internal feed and sets initialization for different components.
        """
        for component in [self._broker, self.por

[2020-01-30 10:59] CycloneMAO commented on #167
Sorry, the node which triggers this bug is the second node: <Node: name=USD-ETH>

[2020-01-30 15:56] mwbrulhardt commented on #166
What is the context in which you have run this?

[2020-01-30 16:01] mwbrulhardt commented on #165
Exchange can not be optional because an instrument can only realistically exist within the context of an exchange. Also the order management system needs the information from the exchange to execute orders and incur transactions on the wallet.

[2020-01-30 16:42] YasserHassan commented on #166
I was following the `train_and_evaluate.ipynb` tutorial and wanted to investigate `Stream` more so I created a stream object separately, something like
`stream = Stream("USD-BTC", list(coinbase_data['BTC:close']))`
then tried to print `stream.value` and received that error.

[2020-01-30 17:07] YasserHassan commented on #165
If the wallet is used as a component in other projects outside of TensorTrade control or maybe within it but with a custom order management system, the exchange might not be needed. I'll close the issue at this point and it could be reopened if this request is in demand.

[2020-01-30 17:07] #165 closed

[2020-01-30 17:50] mwbrulhardt commented on #166
A `Node` can only exist within the context of a data feed. So if the data feed has not been compiled, then no nodes will not have values. The reason why it works this way is because the `DataFeed` system is a directed acyclic graph and it needs to first correctly set the order for all the nodes to run in, so that every node performs computation with the correct value.

[2020-01-30 19:18] YasserHassan commented on #166
That needs to be clarified in the documentation to avoid creating similar issue in the future.

[2020-01-30 19:18] #166 closed

[2020-01-31 19:51] diazagasatya opened #168 "Reward results from ratios maybe misleading?"
<em>Shouldn't we pass the percentage change or the differences of the net-worths into these ratio calculations instead? I'm referring to the [rewards] here (https://github.com/tensortrade-org/tensortrade/blob/master/tensortrade/rewards/risk_adjusted_returns.py)</em>

For example:

**Sharpe Ratio**
_A measure that indicates the average return minus the risk-free return divided by the standard devia

[2020-01-31 20:00] #168 closed

[2020-01-31 20:42] diazagasatya opened #169 "Reward ratio calculation relativity"
For Reward calculation shouldn't we use pct_change() instead of diff() of the net_worth column? I'm referring to the get_reward() function in the risk_adjusted_returns.py file.

For instance, if we are using diff(), a change from a net worth of 9000 -> 9100 will be measured the same as a change in the net worth of 1,000,000 -> 1,000,100.

Whereas if we use pct_change() the reward will be proportio

[2020-02-01 17:34] YasserHassan opened #171 "Feature Request: Add commission type to ExchangeOptions"
This is intended to accommodate the different commission types, per trade and per share, and consequently change the commission calculation method.

And while at it, shouldn't the commission as a whole and trade price/size be associated to Broker not Exchange?

[2020-02-01 18:28] mwbrulhardt commented on #169
Merged the PR.

[2020-02-01 18:28] #169 closed

[2020-02-01 20:30] MarcusDoubleYou opened #172 "Question: Balances remain in locked balances when after trade has been executed"
this is something I noticed during training. That balances will remain in locked_balances when buy -> sell is executed.

Here is a simple test to illustrate the issue.
[code]

Prerequisite:
This requires a fix to the class DynamicOrders(ActionScheme):
[...]
price = exchange.quote_price(pair)
instead of
price = exchange.quote_price(instrument)
[...]

Maybe its a issue that the order service needs t

[2020-02-01 22:17] bwcknr commented on #172
I've already seen that behaviour.

Since the change to support multiple exchanges (and the symptomatic fix in broker.update) this happens.

Since actions are taken on pair and exchange, the portfolio takes the amount off the wallet on that exchange. But the broker and order executions do not respect that.

The broker currently does not know about that and just executes orders on exchanges that tra

[2020-02-02 05:48] YasserHassan opened #173 "Unconfirmed Bug: Unit test returns different calculations than expected in RiskAdjustedReturns"
The returns calculation is different in the class method and its corresponding test after commit 9fd7269. It does not break the test though.

https://github.com/tensortrade-org/tensortrade/blob/9fd7269f64f547a3e1cd713db03733660adc05df/tensortrade/rewards/risk_adjusted_returns.py#L70

https://github.com/tensortrade-org/tensortrade/blob/9fd7269f64f547a3e1cd713db03733660adc05df/tests/tensortrade/unit

[2020-02-02 10:25] YasserHassan opened #175 "Example Request: Portfolio-independent, single-instrument tutorial (i.e. `use_internal=False` example)"
The current implementations incorporate portfolio information into agents' training as part of the environment observation data (and hence is required later in live operation). This approach is very specific and I believe it would require frequent retraining to adopt to small changes that are likely to occur frequently for fine tuning such as changing `trade_sizes` in `ManagedRiskOrders`.

My sugg

[2020-02-02 13:54] 123mitnik commented on #172
yes ..the order server is not working and the agent is not learning. once a trade is made the balance is locked and there are no more trades.

Also, the 'Order:'  is  'None'

[2020-02-02 13:58] 123mitnik opened #176 "Example Request: Save and restore agent from checkpoint"
inside the train_and_evaluate example, you can see ``` agent.train(n_steps=200, save_path="examples/agents/") ``` but no model has been stored to the fodder .

Also, an example of how to restore it from the saved model is missing.

It will be good to show inside the example the two cases once this is fixed:
1. case one - how to load the saved model and continue training
2. case two - how to load a

[2020-02-02 14:01] 123mitnik opened #177 "Example Request: Add evaluation step to train_and_evaluate notebook"
inside train_and_evaluate - the evaluation step is missing

Also, it would be good to include functionality to split the data on - train/test -- this way we will be able to perform a true evaluation on unseen data

[2020-02-02 17:33] YasserHassan commented on #175
The above suggestion aims to generate buy/sell signals at major price change points on the chart regardless of the actual position.

Another variation is adding the current position status as a flag (not actual position size) and P/L to the model inputs. Position status could be:
- Holding / Not Holding (True/False) for full position buy/sell trading scenarios. The possible outputs are: Buy, Sell,

[2020-02-02 17:59] MarcusDoubleYou commented on #172
@123mitnik @bwcknr do you know by any chance if the order service (and more broadly how orders are executed and balances are locked unlocked maintained) is still WIP as part of all the recent changes or would it make sense to look into it?

[2020-02-02 18:09] 123mitnik commented on #172
@MarcusDoubleYou I strongly believe that this is not WIP... but let me ask your question in discord just in case

[2020-02-02 18:10] bwcknr commented on #172
@MarcusDoubleYou I am just contributing my points and am excited about the efforts. I am not involved in planning.

But from my point of view the latest efforts are about getting the data feed right.

[2020-02-02 23:40] YasserHassan opened #179 "Bug: Inconsistent dictionary key arrangement in TradingEnvironment feed"
The key arrangement of the TradingEnvironment feed attribute changes from one instance to another. Duplication steps:
1. Open `train_and_evaluate.ipynb` form examples.
2. Run till the cell `env.feed.next()`.
3. Notice the generated dictionary key arrangement.
4. Go up to the previous code cell (containing `env = TradingEnvironment(...)`) and run down to `env.feed.next()` again.
5. Compare the resu

[2020-02-03 15:29] mwbrulhardt commented on #179
Merged PR.

[2020-02-03 15:29] #179 closed

[2020-02-03 17:52] CSVStorage opened #181 "Confirmed Bug: Unable to reach site http://tensortrade.org/"
Even if not directly related to github repo, this is related to the project, the site is unreachable

[2020-02-03 17:56] notadamking commented on #172
Can you check if this is still happening after the latest commit?

[2020-02-03 18:19] 123mitnik commented on #172
@notadamking still the same .. just installed from the master and the balance is still locked after the first trade. the agent is still not learning

[2020-02-03 20:03] 123mitnik commented on #172
there is something fishy about the order's execution.. there was some issue when logging into the terminal and it displayed that the observation is 1x10 .. now in the log I see that this data is not displayed .. So I printed and the data seems to be correct; at least in the first look.

features: [11209 rows x 325 columns]
agent observations shape: (6, 334)

this will need confirmation from someon

[2020-02-03 20:22] 123mitnik commented on #172
the balances are locked after the initial trades. I did additional testing and left TT to execute for 2478 steps. The account advanced to 100%  profit (from the initial trades).. but no trade was closed and the agent is not trading
[code]

[2020-02-03 20:28] YasserHassan opened #182 "Enhancement: Make TradingEnvironment feed creation configurable using optional callable"
Currently, the internal data feed is part of the TradingEnvironment feed. It is created in way that doesn't allow for changing the way the position/portfolio status is represented in the full feed. This is something developers may need to do. For example, to train the model based on the change in value of a purchased asset regardless of the other portfolio factors (issue #175).

So I suggest makin

[2020-02-03 21:55] 123mitnik commented on #175
yes .. the agent should not observe actual price .. or other specific levels .. Instead, it must be aware of relative or binary data of the targeted values. this way we can decouple the agents from specific levels and will avoid  re-training or dangerous trade situations

[2020-02-03 23:50] mwbrulhardt commented on #182
This is already possible with the current setup. You do not have to use the internal data feed. You can write `use_internal=False` in the environment constructor and incorporate the portfolio, the way you see fit, into the data feed you provide for environment.

[2020-02-04 00:46] notadamking commented on #181
Thanks, will get this fixed ASAP.

[2020-02-04 00:47] notadamking commented on #177
Good idea. I would love to see an implementation if you had one in mind!

[2020-02-04 00:52] notadamking commented on #182
@mwbrulhardt, this is already possible using `use_internal=False` and a custom data feed.

[2020-02-04 00:52] #182 closed

[2020-02-04 00:56] notadamking commented on #176
This is a good idea. These examples will be added ASAP.

[2020-02-04 00:57] notadamking commented on #173
Nice catch @YasserHassan. Care to submit a PR to fix this issue?

[2020-02-04 00:59] notadamking commented on #172
This is the case if the balance is locked in a trade w/ a criteria that has not yet been met.

The fix is to add a `duration` to your orders, to ensure they get cancelled if not completed after `duration` steps.

[2020-02-04 01:09] notadamking commented on #171
@YasserHassan I look forward to your PR. The commission is associated with the exchange, as the `Broker` is only used internally, and does not actually execute trades on the exchange. This is done by a specific exchange `execution_service`.

[2020-02-04 01:14] notadamking commented on #167
The example is currently working with the latest version of the repo. Make sure you have installed from the Github source:

`pip install git+https://github.com/notadamking/tensortrade.git -U`

[2020-02-04 01:14] #167 closed

[2020-02-04 04:02] MarcusDoubleYou commented on #172
@notadamking could this be caused because by default no criteria is defined for the DynamicOrders(ActionScheme). Hence, no criteria can be met? What would be the expected behavior if no criteria are given? Since those are market orders I would expect all orders simply to be executed and balance are unlocked, right?

[2020-02-04 05:25] YasserHassan commented on #173
@notadamking done. Please check.

[2020-02-04 09:57] YasserHassan commented on #171
@notadamking I'm working on it but I need some clarifications to confirm my understanding:
https://github.com/tensortrade-org/tensortrade/blob/0e94705439933b2d85eefb5816c229ab99b728fb/tensortrade/exchanges/exchange.py#L34-L37
- `min/max_trade_size` refers to the number of shares per trade?
- `min/max_trade_price` refers to the single share price? (not total $ value of a single trade)

https://gith

[2020-02-04 10:58] YasserHassan commented on #175
@123mitnik yes, price difference - if included - should be relative. Cumulative percentage change may even be better. Either way, that change should be part of the reward calculation.

[2020-02-04 17:42] 123mitnik commented on #172
@notadamking Yes Adam, this is the problem I tested it and when setting the duration - the problem is gone .. there must be a default value for the duration

[2020-02-04 21:24] 123mitnik commented on #182
when I write ``use_internal=False``` inside the TradingEnvironment like this:

[code]
i get the following error
``` [1]    67842 floating point exception ```

[2020-02-04 21:29] 123mitnik opened #185 "use_internal=False causing - floating point exception"
when I write ```use_internal=False``` inside the TradingEnvironment like this:

[code]
i get the following error
``` [1]    67842 floating point exception ```

[2020-02-06 06:52] YasserHassan commented on #175
I'm reopening this as a reminder of the example.

[2020-02-06 06:52] YasserHassan commented on #175
I'm reopening this as a reminder of the example.

[2020-02-06 09:12] sleekmike opened #187 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Can not squeeze dim[1], expected a dimension of 1, got 128 [Op:Squeeze]"
**System information**

- OS Platform and Distribution: MacOS Catalina version 10.15
- TensorTrade version: tensortrade==0.2.0b1
- TensorFlow version: 2.1.0
- Python version: 3.7

**Describe the current behavior**
I am trying to run the example "train_and_evaluate.py" on my Mac and I am getting the error bellow.

**Code to reproduce the issue**

agent.train(n_steps=200, save_path="examples/agents/

[2020-02-06 20:46] 123mitnik commented on #185
there was some division by 0 .. closing it for now

[2020-02-06 20:46] #185 closed

[2020-02-06 22:54] 123mitnik opened #190 "`use_internal=False` - very slow"
when you set `use_internal=False` - the training is very slow .. The situation gets worse when using a larger window size.

[2020-02-09 05:31] giranntu commented on #187
occur this error too. Seems this build is not ready.
@notadamking may guide how to run the example?

[2020-02-09 15:04] devmev commented on #187
It seems like the problem is based on the shape of the given advantages Tensor for the loss function "policy_loss_value = wsce_loss(actions, logits, sample_weight=advantages)" in a2c_agent.py. I haven't figured out the solution as I am not so familiar with the advantages methode.

[2020-02-09 16:49] jonatrey commented on #187
Same issue here, you can reproduce by simply running the notebook train_and_evaluate.ipynb

[2020-02-10 02:41] giranntu commented on #187
yea if apply the @cashmesh one line for argumax, it worked.
The reason might because when using the sparse_categorical_crossentropy loss, your targets should be integer targets. If you have categorical targets, you should use categorical_crossentropy

So need to convert the labels to integers.

[2020-02-10 07:21] sleekmike commented on #187
I still experiencing this error on ubuntu 18

[2020-02-10 07:46] giranntu commented on #187
@sleekmike  it is nothing related to the os version, but the tf version and need to reinstall the package(since we changed the lib code for that one line.)

`returns = tf.reshape(returns, [batch_size, 1])`

1. After inserting this code, **make sure your tf version is 2.1.0** .
2. reinstall the package by running the command `!python3 -m pip install -e .. -U`

[2020-02-10 08:13] giranntu opened #192 "It is still available to use tensorforce and stable_baselines ?"
As we are using the TF 2.1.0 in TensorTrade current build.
The OpenAI baselines (stable baselines) are not supporting in TF2.0 env.
which we should find out the way to use it.
Or if I follow the tutorial in http://www.tensortrade.org/en/latest/agents/stable_baselines.html

There is an error.
Please guide how to use tensorforce and baselines.

[2020-02-10 08:22] giranntu commented on #192
I tried many APIs like MultiDiscreteActions and it does not exist in the current build.
I guess the documents need to be updated.

[2020-02-10 09:00] giranntu opened #193 "Parallel DQN Agent not working."
When I trying to train the Parallel DQN Agent, it did create n worker, but as I plot the portfolio, it doesn't do anything for trading, so it might be the Parallel DQN Agent lib not build in the right way...?

[2020-02-10 09:45] mpresence commented on #187
Hello not sure which line needs replacing?

[2020-02-10 10:45] sleekmike commented on #187
Hello @giranntu, thanks this fixed my issue :)
But unfortunately I am now getting this issue even after installing the latest version of Tensortrade.

ModuleNotFoundError: No module named 'stochastic'

[2020-02-10 16:09] YasserHassan commented on #192
The documents haven't been updated yet. You can join Discord for help.

[2020-02-11 15:48] #187 closed

[2020-02-11 18:36] YasserHassan opened #197 "Feature Request: Add time stamp to saved model file name and use shorter id"
Currently the saved model file names are something like `policy_network__4b593b4e-7548-4f5d-bc71-3a4ee137ef03.hdf5`. Adding a timestamp like `MMDDYY_HHMMSS` (e.g. `20200211_203525`) in the middle and using the first 7 characters of the id like the short GitHub commit identifiers (e.g. `policy_network_20200211_203525_4b593b4.hdf5`) can make dealing with the saved models easier.

[2020-02-15 14:56] sleekmike commented on #97
Hello @CoeJoder,
The issue has been funded with an additional 1 ETH making it 2ETH just like you demanded. Please provide updates and commits on the issue.
Thanks

[2020-02-16 19:46] jasonfiacco opened #199 "Tutorial doesn't work"

[2020-02-16 19:47] jasonfiacco commented on #199
What happened to the tensortrade.strategies folder? When I try to follow the tutorial from the Github/Medium page, it seems this folder (and several others) is missing.

[2020-02-16 19:50] #199 closed

[2020-02-16 19:52] jasonfiacco opened #200 "Tutorial Issues: tensortrade.strategies folder doesn't exist"
Many code blocks from both the documentation and the Medium page tutorial don't seem to work properly. For example, one line is "from tensortrade.strategies import TensorforceTradingStrategy, StableBaselinesTradingStrategy" but it seems that there is no tensortrade.strategies folder/module any longer. Is there some more recent tutorial that can be used?

Using Tensorflow version 1.13.1.

[2020-02-17 05:17] YasserHassan commented on #200
Documentation hasn't been updated yet. Better follow the examples, read the code, and join Discord for help. And use TensorFlow 2.1.

[2020-02-18 22:10] spacewalkingninja commented on #200
Hello!
I will give an example here as how I put it working in Google collab, PRIOR to your new rendering solution.

`from google.colab import drive
drive.mount('/content/gdrive')
`
Then we go to
`
cd '/content/gdrive/My Drive/.../tensortrade-master'
`
and install:
`
!python3 -m pip install -e . -U
`

Instruct collab were going to use TF2
`
%tensorflow_version 2.x
`

Here is a new DataFetch mechani

[2020-02-19 06:06] mkygogo opened #201 "Have you considered upgrading to TensorFlow2.0"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2020-02-19 12:30] spacewalkingninja opened #203 "how to make tensor DO DA trade"
Hello!
I will give an example here as how I put it working in Google collab, PRIOR to your new rendering solution.

`from google.colab import drive
drive.mount('/content/gdrive')
`
Then we go to
`
cd '/content/gdrive/My Drive/.../tensortrade-master'
`
and install:
`
!python3 -m pip install -e . -U
`

Instruct collab were going to use TF2
`
%tensorflow_version 2.x
`

Here is a new DataFetch mechani

[2020-02-20 11:38] CoeJoder commented on #97
@sleekmike The bounty still shows 1ETH:  https://gitcoin.co/issue/notadamking/tensortrade/97/3678

[2020-02-20 14:16] sleekmike commented on #97
Hello CoeJoder,
It really took you time to respond or reply, I was really worried. The bounty has been funded, please be patient you will see it soon, I was billed on the 6th of this month but there is a little technical issue that would be resolved soon and it will reflect. Also are you keeping abreast of the recent update on TensorTrade? Also you should join the discord group so that you will be

[2020-02-20 17:09] 123mitnik commented on #157
no need to implement this from scratch - it is already available in Ray rllib and it is distributed

[2020-02-21 19:29] #190 closed

[2020-02-23 06:50] #201 closed

[2020-02-24 13:04] jonatrey opened #205 "price_history 'NoneType' object has no attribute 'index'"
whenever running the vanilla train_and_evaluate.ipynb - the final step of the training is the render the output and it's trying to access self._price_history.index  (environments/trading_environment.py) which is of type "NoneType".

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-

[2020-02-24 16:29] YasserHassan commented on #205
A fix has been submitted in a PR.

[2020-02-24 20:33] YasserHassan commented on #205
Meanwhile, as a turnaround, provide price history data as shown in the renderers example.

[2020-02-25 05:29] YasserHassan commented on #205
Fixed in #204.

[2020-02-25 20:10] jonatrey commented on #205
Thanks

[2020-02-25 20:10] #205 closed

[2020-02-26 07:53] YasserHassan opened #207 "Enhancement: Rename 'locked' in Wallet to 'reserved' for clarity"
The concept of locked balance in `Wallet` is not sitting well with me. In reality, once money gets out of a wallet it becomes "spent" money. We don't reserve a placeholder or register that in the wallet. "Locked" implies that this value is expected to be freed later which is not always the case. The value may never return from the form it was converted into. For example, when purchasing shares in

[2020-02-26 15:32] mwbrulhardt commented on #207
There is no concept locked balance necessarily in any functional sense. A locked balance is a summary statistic about the wallet looking over all orders that are currently involved with it. The concept of locked quantities in an `Order` is where the use of locking comes in handy. Here are some of the reasons why we use locked quantities:

- If an order is not a simple buy and sell, then funds must

[2020-02-26 16:34] YasserHassan commented on #207
This is a different use from what I understood from the variable name `locked` and how it seemed on the performance chart. It makes sense now.

But I suggest changing that name though to "reserved" which is a more expressive and intuitive name for this role. "locked" could be for before or after a transaction. "reserved" is clearly for a transaction that yet to take place.

[2020-02-26 18:15] spacewalkingninja commented on #207
@YasserHassan I think the solution would be easier if the bot should not buy shares or currency or anything that depreciates in value. This way it can be locked untill it makes a profit from that buy?

[2020-02-27 00:04] YasserHassan opened #208 "Bug: TradingEnvironment increments action_space with object action_scheme"
When a trading environment is created with a string action scheme like `action_scheme='simple'`, the size of its `action_space` remains the same when it is recreated (cell rerun). But when an object is used instead, that value increments through cell reruns. Recreating the trading environment is plausible whether in notebooks or scripts so this behavior could lead to unexpected results. To reprodu

[2020-02-27 00:22] YasserHassan commented on #207
@spacewalkingninja after @mwbrulhardt's explanation, I see that the function of locked/reserved values makes sense and even required for proper order management.

I believe the solution your proposed is not possible. How will you manage to identify instruments that depreciate in value to avoid buying them? (that means you know how to never lose money!). The current approach is good and safe. It ju

[2020-02-27 08:42] giranntu commented on #193
Would like to know the new release contains any update of this?

[2020-02-28 08:40] YasserHassan commented on #208
Fixed in commit b60e22eeb30dc064c44b3e0b4413b76dd0c8c14d.

[2020-02-28 08:40] #208 closed

[2020-02-28 19:56] spacewalkingninja commented on #207
Well, it would be logical to do this if we intent to make money with this... Why'd you buy something that deppreciates in the first place? Unless it has some hidden Future Forecasting function we haven't discovered yet that makes it buy and then hold onto the asset. Not sure... imo, it should be something like:
python tensortrade.py -apiKey -wallet -howMuchMoneyToSpend -howMuchMoneyToWin

[2020-02-28 20:37] YasserHassan commented on #207
It's not the matter of logic, it just can not be done. If you discovered how to avoid buying instrument that depreciate in price (that is, on the flip side, how to pick winning trades only) then you have discovered the holy grail of trading that every one is after. And you wouldn't need this framework to start with.

With @mwbrulhardt's explanation, this has become a minor issue that can be handle

[2020-02-28 20:37] #207 closed

[2020-02-29 20:14] 123mitnik opened #212 "latest wallet bugfix commit breaks the training execution"
with the latest wallet bugfix now when training on multiple env with Ray - the training crashes at
[code]

also it crashes in
[code]

[2020-02-29 22:51] #212 closed

[2020-03-01 09:52] sleekmike commented on #97
Hello Cojoeder

[2020-03-04 08:27] Payback80 opened #213 "Bug: Rllib evolution strategies"
When trying ES in tensortrade i have this error

[code]

Seems a problem on how Tradingenv inehirit env_timestep_limit from gym env

[2020-03-07 09:14] PeterTemps commented on #203
Thanks for the effort. Maybe you can post Jupyter notebook with your trading code?

[2020-03-09 22:55] kalleknast commented on #203
a) The model will be saved to save_path="examples/agents/" (as you set with agent.train(n_envs=4, n_steps=200, save_path="examples/agents/"))
It can be restored with agent.restore(filename)
b) Set up a new environment with the approrpiate data feed (maybe it is sufficient to change the feed in the existing env). Although, I haven't tested this.

[2020-03-10 19:10] spacewalkingninja commented on #203
how do I setup the new env with the old agent???
I restore it and then I create the datafeed with my real time BTC feed?

I don't have. Waiting for @notadamking to share his code. Why is ccxt folder empty ????

[2020-03-11 02:04] kalleknast commented on #203
I made an example [here](https://gist.github.com/kalleknast/46e4e9d260f0029935bf804b8c8ddd30#file-tensortrade_train_save_restore_evaluate-ipynb).

Hope it helps

[2020-03-11 17:37] tarasivashchuk opened #215 "Multiple Price Histories for Plotly Renderer"
Hi,

I was wondering if there is some way to display multiple price histories for environments with more than one pair? Currently when I pass a list of price histories I get the following error:

[code]

Here is how I am building the price_histories:

[code]

And then I pass the list directly. If I pass only one element in the list, it works correctly, however, the render displays the buy and sell

[2020-03-11 17:55] tarasivashchuk commented on #215
Ok, I looked through the code and the other branches and I'm pretty sure this just doesn't work right now, so I will just implement myself and submit a pull request. Is there a preferred way for me to do this? I was thinking of just allowing to pass DataFrames with multiple OHLC columns for multiple instruments?

[2020-03-12 05:19] YasserHassan commented on #215
@tarasivashchuk this issue is a duplicate of #205 and was fixed in #204. Have you updated your version form master? If it persists, a turnaround at the moment is to provide any price history to the environment even if you won't use it.

Currently this is a single instrument chart. Drawing charts of all portfolio positions would be a good enhancement. I see it better implemented as multiple separat

[2020-03-12 16:58] tarasivashchuk opened #216 "Display Plotly in Dash Application?"
Is there anyway to currently do this? I mean in a way that includes taking input from Dash callbacks?

[2020-03-12 16:59] tarasivashchuk commented on #215
@YasserHassan I will implement plotting multiple positions, and let you choose which ones also. Will keep you posted.

[2020-03-12 19:50] YasserHassan commented on #216
The current chart does not support that. What is the use case you'd need that for?

[2020-03-13 08:20] PeterTemps commented on #203
Many thanks

[2020-03-13 12:38] spacewalkingninja commented on #203
@notadamking
@YasserHassan
amybody got it actually posting orders on binance?
Have you got the code?
Plz post it!

[2020-03-14 08:53] PeterTemps commented on #203
Goodluck looking for money making machine. Would love to help, but don't know how.

[2020-03-16 19:34] tarasivashchuk commented on #216
Displaying the results in a Dash application? Preferably live. It'd be cool to watch the agent in this way as it trains or as it runs live. @YasserHassan

[2020-03-16 21:22] YasserHassan commented on #216
It would seem like fun in the beginning but once you go into serious training with hundreds or thousands of episodes, you'll find it counter productive. Not only you'll lose interest after a while but also that rendering time would accumulate to delay your overall training time tremendously. Also once you go into parallel training you'll need a cumbersome setup to do that. Practically, you better

[2020-03-17 14:15] spacewalkingninja commented on #216
Hi! Got any models already trained on a good setup that you could share? Based on your answer, that's what you've been doing.....

[2020-03-28 02:48] OneCricketeer opened #217 "Support Ally Invest?"
**Feature Request**

https://invest.ally.com

Doesn't appear there is a proper Python SDK, but it _seems_ there is just an OAuth client used to do things... Ruby should be a straightorward translation - https://www.ally.com/api/invest/documentation/ruby/

[2020-04-05 06:24] delaji-san commented on #97
I've done years worth of work on MT4 previously and could take a look at this if:

- [ ] You get a working model of this software. _Yes I have spent a while trying to get this working and tried the previous releases._
- [ ] There's correct documentation on how it all works. _Yes I have looked through the docs and examples._

Here's the caveats:
- You won't be able to pass back indicators from MT4

[2020-04-05 08:23] sleekmike commented on #97
Hello @delaji-san, thanks for showing interests on this issue and would be really glad to if you could implement the Buy/Sell orders, check orders and other things that you mentioned. I can give you a working version tensortrade framework that I use to playground with and develop, I can also help you with documentation and guidance in setting this framework on your PC. Thanks

[2020-04-05 11:40] TheSnowGuru commented on #97
If it would be easier for you to implement using MT5 and not MT4 , than go
for it.

thanks

On Sun, Apr 5, 2020 at 11:23 AM Mike Ohanu <notifications@github.com> wrote:

[2020-04-08 06:54] kodiakcrypto commented on #217
More work on the fundamentals is currently needed.

[2020-04-09 16:31] Debra1761 commented on #176
Can I work on this issue? I have a  working tf-agents implementation of DQN agent with the checkpointing functionality. Would it be a good design choice?

[2020-04-09 22:17] ozcelikkale commented on #177
could you handle the issue?? @123mitnik @notadamking

[2020-04-10 04:37] cricket007 commented on #217
Gotcha. I assume that progress [is being tracked](https://github.com/tensortrade-org/tensortrade/projects)?

[2020-04-12 12:59] sleepingsuns opened #220 "can't import Feature Pipeline"
Where is the Feature Pipeline package that does not have this Feature

[2020-04-12 13:21] sleepingsuns commented on #220
No module named 'tensortrade.features'

[2020-04-14 10:39] charlesedwards opened #221 "Minor bug in "instruments.py""
AUD is specified as "EUR" incorrectly" in line 89

[code]

[2020-04-21 19:08] mwbrulhardt commented on #221
Nice catch I'll fix this. Thanks!

[2020-04-21 19:10] #221 closed

[2020-04-21 19:11] mwbrulhardt commented on #220
This module has been taken out and the `data` module has taken on the role for feature creation and inclusion into the environment.

[2020-04-21 19:11] #220 closed

[2020-04-23 15:45] mwbrulhardt commented on #151
No there aren't any pre-trained models.

[2020-04-23 15:45] #151 closed

[2020-04-23 15:45] #200 closed

[2020-04-23 15:46] #172 closed

[2020-04-23 15:47] mwbrulhardt commented on #192
The documentation must be updated because these are no longer features in the library.

[2020-04-23 15:47] #192 closed

[2020-04-23 17:20] spacewalkingninja opened #224 "REQUEST: Release money making models you trained"
No there aren't any pre-trained models.

_Originally posted by @mwbrulhardt in https://github.com/tensortrade-org/tensortrade/issues/151#issuecomment-618475150_

There is obviously an issue that mwbrulhardt did not understand: WE NEED THE MODELS!

REQUEST: Release them for free ASAP!
Thanks!

[2020-04-24 00:19] notadamking commented on #224
Sure! While we're at it, you should send me your BTC address so I can send you some free money as well. ;)

[2020-04-24 00:19] #224 closed

[2020-04-24 03:20] magick93 opened #225 "Suggestion - integrate Creme for online learning"
Continual learning, sometimes called online learning (google that if you want to find everything but how to continually learning using RL) could be very useful.

Creme is for In**creme**ntal learning, is where models can update themselves.

Please see https://github.com/creme-ml/creme

I dont know if this would be of benefit to Tensortrade, but thought its worth suggesting and opening the discussi

[2020-04-27 01:30] cicorias commented on #38
unfortunately @carlomigs that doesn't work for macOS as that talib-binary is for Linux

[2020-05-03 18:21] nott0 opened #227 "ModuleNotFoundError: No module named 'tensortrade.exchange'"
I have a problem with installing the latest tensortrade. When I run the example as written in the tutorial, I faced with this problem

[code]
I tried install by pip command as suggest in Medium, also the https://www.tensortrade.org/ and also directly from git repository, but all result the same (without the module)

Anyone have any idea?

[2020-05-04 00:58] lymzzu commented on #227
I also have this problem.

[2020-05-06 11:24] quantwin opened #228 "ValueError: Invalid format string in examples/train_and_evaluate.ipynb"
window 10
python 3.7

the latest tensortrade

When I try to run train_and_evaluate.ipynb in examples, stoped here.

`
from tensortrade.agents import DQNAgent

agent = DQNAgent(env)

agent.train(n_steps=200, save_path="D:\\pythoncode\\examples\\agents")`

`====      AGENT ID: d2ba874a-56a5-41e0-8adc-361606cef808      ====
---------------------------------------------------------------------------
V

[2020-05-06 11:29] quantwin commented on #228
I try others,
agent.train(n_steps=200, save_path='./examples/agents/')
or
agent.train(n_steps=200, save_path="examples/agents/")

All get the same error.

[2020-05-06 12:31] quantwin commented on #227
It seems that  exchanges is not complete.

Or some installation error happened, the  environment is not set up correctly.

Try to create a simulated.py file in ..\site-packages\tensortrade\exchanges,

`
from typing import Callable, Union
from decimal import Decimal

from tensortrade.base import Component, TimedIdentifiable
from tensortrade.instruments import TradingPair
from tensortrade.data impor

[2020-05-06 12:33] quantwin commented on #227
from typing import Callable, Union
from decimal import Decimal

from tensortrade.base import Component, TimedIdentifiable
from tensortrade.instruments import TradingPair
from tensortrade.data import Module
from tensortrade.data import Forward

from tensortrade.exchanges.exchange import Exchange
import pandas as pd

class SimulatedExchange(Exchange):
    """An exchange, in which the price history i

[2020-05-06 13:11] quantwin opened #229 "About installation and exchanges setting"
I have a little problem when install tensortrade.

 I try this at colab.research.google.com,

pip install tensortrade[tf,tensorforce,baselines,ccxt,fbm]

Some packages version are low.

So I try to install it from github directly.
pip install git+https://github.com/notadamking/tensortrade.git[tf,tensorforce,baselines,ccxt,fbm]

And it can not work too.
Collecting git+https://github.com/notadamking

[2020-05-07 09:56] Vincces commented on #228
I got the same error. T T

[2020-05-08 02:25] yenjanw commented on #228
I got this issue in Windows, but Mac work fine.

[2020-05-13 07:14] raznem commented on #227
I have the same issue when trying to run an example from https://towardsdatascience.com/trade-smarter-w-reinforcement-learning-a5e91163f315#a323.
`from tensortrade.exchanges.simulated import FBMExchange`
returns:
```ModuleNotFoundError: No module named 'tensortrade.exchanges.simulated'```

[2020-05-14 02:42] slachenberg commented on #228
Looks like the default date format used in create_log_entry needs to be updated to something platform agnostic.

You can go ahead and remove strftime(date_format) to get things running in the meantime.

[2020-05-15 04:00] t1me0ut commented on #228
Windows uses '\' character to separate folder names un the path while Linux uses '/'. You can do the code multiplatfrom using os package:
agent.train(n_steps=200, save_path=os.path.join(root_path, 'examples', 'agent'))

Where root_path is string with your OS path to tensortrade repo.

[2020-05-16 03:05] quantwin commented on #228
Thank you, slachenberg. That's really the problem. It works now.

But strangely, I run the following alone, and it works.

2020-05-16 10:49:15 AM

[2020-05-16 03:05] #228 closed

[2020-05-18 01:49] elnazsn1988 commented on #22
Has this been implemeted a of yet? am interested in same - limit order book trades @notadamking

[2020-05-18 07:08] Ray-0403 opened #230 "About ask/bid price, spread and leverage(margin)...."
It seems that ask/bid price, spread, leverage, margin and tick value of symbol(eg: ES...) are not included in the version now, right? Anyone can help or give some instructions to modify the code?

[2020-05-18 10:47] Vincces commented on #228
Hello,quantwin and slachenberg.I want to know what is the meaning"go ahead and remove strftime(date_format)" ? How to modify the code ? Thank you very much.

[2020-05-18 18:11] lefig opened #231 "python/numpy default float type is float64. We prefer float32 instead."
Hi all,

I have just started to learn about this fabulous project. But I have experienced a brick wall with respect to the examples. I try running train_and_evaluate notebook from the examples folder but have the error:

===      AGENT ID: 3f342cc3-2914-4288-a94e-4f5c1caae52d      ====
---------------------------------------------------------------------------
ValueError

[2020-05-19 18:44] lefig commented on #231
Any suggestions would be really welcome.

Does the example need updating?

[2020-05-20 02:29] quantwin commented on #228
def _create_log_entry(self, episode: int = None, max_episodes: int = None,
                         step: int = None, max_steps: int = None,
                         date_format='%Y-%m-%d %H:%M:%S'):
        #log_entry = '[{}]'.format(datetime.now().strftime(date_format))
        log_entry = '[{}]'.format(datetime.now())

        if episode is not None:

[2020-05-23 11:40] mohammadalimehdizadeh commented on #229
i have the same issue, i want to try github repo examples on Colab but i see many errors?

[2020-05-24 01:23] MarkintoshZ commented on #231
What version of tensorflow and numpy are you using?

[2020-05-24 01:46] MarkintoshZ commented on #229
This is what works for me
[code]

[2020-05-26 18:48] lefig commented on #231
Thank you for taking a look. I do appreciate this. We are running on Win:

Tensorflow 1.14.0
numpy+mkl package 1.17.5

On python 3.6.7

[2020-05-28 17:06] andy121090 opened #233 "Duplicate entries in performance dataframe"
In the example `train_and_evaluate.ipynb` the total reward is always constant and equal to `3.0`.

The issue seems to be that the function `on_next` of portfolio is called twice when `env.feed.next()` is executed.

**System information**

- Have I written custom code (as opposed to using example directory): no
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): Linux

[2020-05-29 19:24] lefig commented on #231
What are your thoughts please? Could the problem be version related...

[2020-05-30 12:24] gvossos commented on #138
I'm still getting this error wih tensortrade 0.2.0b2.

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-6-ba647e4ff1fd> in <module>
      1 import ccxt
----> 2 from tensortrade.exchanges.simulated import SimulatedExchange
      3
      4 df = pd.read_csv('data/Coinbase_BTCUSD_1h.csv', skiprows=1)
      5 exchange = SimulatedExchange(data_frame=df, base_ins

[2020-05-31 08:50] UncleVasya commented on #233
Can confirm. Every row in `portfolio.performance` is recorded twice:

![](https://i.imgur.com/lTdf4Lz.png)

#### Consequences

In our reward functions we calculate percentage change of `performance.net_worth`:

`returns = portfolio.performance['net_worth'][-(self._window_size + 1):].pct_change().dropna()`

Because of duplicated values percentage change is always 0 (with default `window_size=1`.) A

[2020-06-01 07:44] kodiakcrypto commented on #233
fixed it on my fork
thanks

[2020-06-01 17:33] GolemXlV commented on #233
Have you test it? In my case, after comment this lines in feed.py, i have a problems with order execution (all orders have a state locked).

[2020-06-10 21:06] chokosabe opened #235 "Documentation should be on readthedocs"
The documentation is inaccessible

[2020-06-21 09:52] longyue188 opened #236 "TypeError: can't pickle _thread.RLock objects in example/train_and_evaluate.ipynb"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2020-06-21 16:22] goddy1 commented on #235
is she in work?

[2020-06-23 01:56] tendrillion opened #237 "Example requirements: load trained model applied to production"
In the given example, the content of model prediction is missing.
1. How the trained model applied to production, that is, how to predict the operation method based on the latest transaction data?
2. What kind of data pretreatment is required before model prediction？

[2020-06-24 13:17] jankrepl commented on #235
Unfortunately I am also unable to open the documentation.

[2020-06-25 16:03] dimontalban commented on #235
The documentation is to created with python sphinx. For this, sphinx should be installed. Change in the 'docs/' directory and start Sphinx using 'sphinx-quickstart'. Call up 'make html' to create the documents. I can create this in an issue and check in a pull request. The question is whether it is desired. It is a rudimentary API documentary, that still needs to be done. To improve it, I have to

[2020-06-25 21:22] owocki commented on #164
hey @notadamking what do you think of the submission on the gitcoin bounty?

[2020-06-29 13:54] owocki commented on #164
hey @notadamking bump on this

[2020-07-02 13:23] owocki commented on #164
@notadamking if i dont hear from you by Monday, i'm going to assume you do not have an intent of compensating the contributor for their work on the bounty, and will have to squelch your gitcoin profile so you cannot post any more bounties.

[2020-07-02 16:21] notadamking commented on #164
@owocki I apologize for the slow response, I have had to step away to focus on another project for the time being. Though TensorTrade is still being managed by Matt and Raed. I will check out the bounty and see if it solves the issue, otherwise I will likely close all open bounties for now.

[2020-07-02 16:39] owocki commented on #164
thanks for the response! i understand people move on :) let me konw where you land + how i can help

[2020-07-02 17:12] notadamking commented on #164
@owocki I have tried to delete my existing bounties on Gitcoin, but I cannot find anywhere to close them.

[2020-07-02 17:18] owocki commented on #164
try this
1. go to gitcoin.co/explorer
2. click 'created by me'
3. go through each bounty and make sure you are logged into metamask (or equivilent) with your web3 wallet that funded the bounty
4. click 'cancel bounty' on the right hand side.
5. submit the txn on chain, when the txn clears you will get the bounty funds back
6. repeat 3-5 for each bounty

[2020-07-09 19:32] owocki commented on #164
@notadamking @bbrundev any update?  this PR is still hanging https://github.com/tensortrade-org/tensortrade/pull/226

[2020-07-09 20:18] bbrundev commented on #164
Hey, @notadamking can you please check my code, and point out any issues you may have with it. If you open a bounty please follow through with it.

[2020-07-10 11:49] JoseAndresMR opened #238 "Examples not working"
Hi everyone,

I am starting to work with Tensortrade. I am running all not [outdated] examples with master branch. All of them get to an error on a different function each. That makes me think that all of the examples are actually outdated with respect to the current state of the branch.

Would appreciate some guidance on where to begin with the latest changes. Are there any updated examples? Is t

[2020-07-13 15:52] programiramdotcom commented on #231
You have to use TensorFlow >= 2.0.

[2020-07-15 19:07] owocki commented on #164
hey @notadamking can you please find time to resolve this week? i understand that this isnt a priority for you anymore, so i'd recommend just paying the bounty hunters who feel left hanging & moving on.

[2020-07-16 03:20] #164 closed

[2020-07-17 09:19] naths84 commented on #138
Getting the same error too.

[2020-07-20 14:01] owocki commented on #164
@notadamking are you planning on paying @bbrundev for their work? https://github.com/tensortrade-org/tensortrade/pull/226

[2020-07-20 16:18] bbrundev commented on #164
theGreatFoo paid for my work, thanks @owocki

[2020-07-21 15:44] sword134 opened #239 "Simulated exchange tutorial not working"
**System information**

- Have I written custom code (as opposed to using example directory): Using the tutorial from towardsdatascience
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): Windows 10
- TensorTrade version: Latest
- TensorFlow version: Latest
- Python version: 3.6

**Describe the current behavior**
When going through the tutorial on towardsdatascience

[2020-07-27 19:53] mwbrulhardt commented on #239
This is a previous version of TT and is now outdated.

[2020-07-27 19:53] #239 closed

[2020-07-30 00:38] alexvaca0 commented on #26
I have some experience with ray for Reinforcement Learning and I think it's probably the best way to go. I'm interested in helping with this and will begin using TensorTrade, trying to implement it in a distributed way through ray. If I'm able to do it I'll send a PR, if you're still interested in this feature. I think it's something useful for all of us, as training sequentially diminishes the po

[2020-07-30 10:47] alexvaca0 commented on #238
There are other examples which are not working: in  setup_environment_tutorial.ipynb, I get an IndexError

[2020-07-30 13:30] mwbrulhardt commented on #238
They are currently being worked on. They are functioning on the `enironment-refactor` branch and will be getting merged into `master` soon.

[2020-07-30 13:32] mwbrulhardt commented on #227
This example is deprecated and the structure of TT has changed as a result so this type of exchange is not supported in the current state. This functionality can still be created with the new structure and new tutorials will be coming soon.

[2020-07-30 13:32] #227 closed

[2020-07-30 13:43] mwbrulhardt commented on #233
I've solved this in the `environment-refactor` branch thanks for letting us know!

[2020-07-30 13:43] #233 closed

[2020-07-30 14:07] JoseAndresMR commented on #238
Great, thank you! In the meanwhile i've been learning with the examples shared in Discord. Highly recommended

[2020-07-30 14:07] #238 closed

[2020-08-01 12:49] Rish001 commented on #29
Hi! can I work on this?

[2020-08-04 14:39] developeralgo8888 opened #242 "When is the new refactor update going to be merged into master. currently using environment-refactor branch"
- TensorTrade version: 0.6.0
- TensorFlow version: 2.3.0
- Python version: 3.8.0

[2020-08-10 18:40] mwbrulhardt commented on #242
Please redirect your question to the Discord. Thank you!

[2020-08-10 18:40] #242 closed

[2020-08-10 18:41] #203 closed

[2020-08-10 18:43] mwbrulhardt commented on #175
This is possible now because it is no longer required that the portfolio needs to be included into the observation space. That can be done by the user and not internally.

[2020-08-10 18:43] #175 closed

[2020-08-10 18:45] #135 closed

[2020-08-10 18:46] #119 closed

[2020-08-10 18:47] #97 closed

[2020-08-12 01:03] jefferyanderson commented on #157
@123mitnik did this go anywhere?

[2020-08-17 05:46] developeralgo8888 opened #244 "Is this library simply geared towards CRYPTO currencies only?"
Can't seem anything general to use with Forex  or Stocks

[2020-08-17 05:47] #244 closed

[2020-08-17 05:48] developeralgo8888 commented on #244
not relevant , found my issue

[2020-08-17 17:59] IISuperluminaLII commented on #231
import numpy from tf.experimental.numpy and the dtypes should be resolved to what Tensorflow "likes". Or you can set numpy dtype globally, a quick google search should tell you how to do that.

[2020-08-20 17:14] mwbrulhardt commented on #235
The documentation is accessible now. Here is the link: https://www.tensortrade.org/en/latest/.

[2020-08-20 17:14] #235 closed

[2020-08-20 17:16] mwbrulhardt commented on #181
Fixed. The documentation can be found at https://www.tensortrade.org/en/latest/.

[2020-08-20 17:16] #181 closed

[2020-08-20 17:17] mwbrulhardt commented on #34
This is complete.

[2020-08-20 17:17] #34 closed

[2020-08-20 17:18] mwbrulhardt commented on #44
This is complete.

[2020-08-20 17:18] #44 closed

[2020-08-20 17:20] mwbrulhardt commented on #231
Use TF 2.0 as this does not use stable-baselines so there is not conflict.

[2020-08-20 19:54] huydhoang opened #246 "Bug: ModuleNotFoundError: No module named 'stochastic'"
**System information**

- Have I written custom code (as opposed to using example directory): No
- OS Platform and Distribution: Pop OS (Ubuntu 20.04)
- TensorTrade version: 0.2.0rc0
- TensorFlow version: 1.13.1
- Python version: 3.6.10 Miniconda

**Describe the current behavior**
Getting `ModuleNotFoundError: No module named 'stochastic'`

**Describe the expected behavior**
Code sample runs witho

[2020-08-24 12:02] alexvaca0 opened #247 "Documentation fails"
The documentation is not built when calling make.

<pre>Makefile:19: recipe for target &apos;html&apos; failed
make[1]: *** [html] Error 2
make[1]: Leaving directory &apos;/docs&apos;
Makefile:17: recipe for target &apos;docs-build&apos; failed
make: *** [docs-build] Error 2
Makefile:44: recipe for target &apos;run-docs&apos; failed
make: *** [run-docs] Error 2
</pre>

This is the output of the co

[2020-08-24 14:51] mwbrulhardt commented on #246
Also did you install stochastic?

[2020-08-24 15:56] mwbrulhardt commented on #247
The documentation is available [here](https://www.tensortrade.org/en/latest/). But if you definitely want to build it then I believe you need to install TT with the docs requirements as well.

[2020-08-24 16:02] mwbrulhardt commented on #225
Nice idea! You should bring it up on the `suggestions` channel on the Discord for people to discuss.

[2020-08-24 16:02] #225 closed

[2020-08-24 16:07] notadamking commented on #247
One way to do this is go to the `/docs` directory and run `pip3 install -r ./requirements.txt`.

[2020-08-24 16:08] #247 closed

[2020-08-24 21:59] papapumpnz opened #248 "Agent train function only completes one episode"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2020-08-25 13:32] TheSnowGuru commented on #248
Better idea to skip episode/ and even steps when acc net_worth dd is bigger than (3%) . This way agent might learn to avoid it.

Maybe Need to add a var:
Skip_episode_dd_thold

But your suggestion is on the spot and it might be a bug....

Thanks

⁣

On 25 Aug 2020, 00:59, at 00:59, Papapumpnz <notifications@github.com> wrote:

[2020-08-26 16:59] mitcheccles commented on #216
@tarasivashchuk  @spacewalkingninja - I get the need to display the chart in a dash app, even if only for debug purposes. It is possible to do, checkout my repo: https://github.com/mitcheccles/tensortrade_dashboard

[2020-08-31 08:30] huydhoang commented on #246
Maybe this is the cause, I'll make another attempt when I can. Thanks

[2020-08-31 08:30] #246 closed

[2020-09-24 21:11] alexvaca0 opened #253 "Cannot find Market Order criteria"
Hi, I don't find a criteria for Market Order, however it's suggested in SimpleOrders action scheme docstring. Can anyone tell me where I could find it?

[2020-11-20 13:21] smartin-pck opened #260 "Changed stochastic package structure"
**System information**

- Have I written custom code (as opposed to using example directory): No
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): Windows 10 - 2004 Subsystem ubuntu 20.04 (WSL 2)
- TensorTrade version: 1.0.0b0
- TensorFlow version: 2.3.1
- Python version: 3.6.9

**Describe the current behavior**
I create a new docker container with makefile and when

[2020-11-25 02:12] 51bitquant opened #261 "Import Error: couldn't import GaussianNoise from stochastic.noise"
Bugs: import Error:
couldn't import GaussianNoise from stochastic.noise

stochastic has change its package structures, for the new version, we need to import like this:

[code]

[2020-11-25 13:07] ramoslin02 commented on #176
Couldn't wait for this function, especially the the live trading.

[2020-12-07 11:59] rufusroger opened #263 "Example from the docs not working at all - what format is required as data input?"
**System information**

- Have I written custom code (as opposed to using example directory): **No - I copied Example 1:1**
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): **Ubuntu 20.04**
- TensorTrade version: **1.0.0b0**
- TensorFlow version: **2.3.1**
- Python version: **3.8.5**

**Describe the current behavior**
I try to get a minimal working example to run,

[2020-12-12 15:34] stefanalexandru02 commented on #263
There is an error with Coinbase I think (I got the same error as you). Fetch the data from Bitstamp instead and it should work

[2020-12-16 21:09] nicomon24 commented on #263
I got the error too, and Bitstamp is not working now.
This is an easy issue, basically the CSV headers changed from https://www.cryptodatadownload.com

You need to edit "Symbol" -> "symbol" and the datetime format from "%Y-%m-%d %I-%p" -> "%Y-%m-%d %H:%M:%S"
I adding a PR to fix this

[2020-12-20 17:19] mwbrulhardt commented on #263
Merged the PR so this should be fixed.

[2020-12-20 17:19] #263 closed

[2020-12-20 17:20] #52 closed

[2020-12-20 17:21] #176 closed

[2020-12-20 17:22] #29 closed

[2020-12-20 17:22] mwbrulhardt commented on #22
Not relevant to current library state anymore.

[2020-12-20 17:22] #22 closed

[2020-12-20 17:23] #94 closed

[2020-12-20 17:23] #217 closed

[2020-12-20 17:29] #26 closed

[2020-12-21 10:13] ctstanleylee opened #267 "Sortino ratio calculation is not correct"
For the Sortino ratio calculation, it seems still taking into account the upside_returns?
should add downside_returns[returns >= self._target_returns] = 0 after downside_returns = returns.copy()

Current Sortino ratio calculation:
  downside_returns = returns.copy()
  downside_returns[returns < self._target_returns] = returns ** 2

  expected_return = np.mean(returns)
  downside_std = np.sqrt(np.s

[2020-12-26 10:36] frederikvanduuren opened #269 "HTTP Error 404 @fetch"
hi

trying to run the examples in colab: train_and_evaluate.ipynd

but this fetch:
data = cdd.fetch("Coinbase", "USD", "BTC", "1h")
produces:
HTTPError: HTTP Error 404: Not Found

am i missing something? extra login?install needed?

thanx
fred

[2020-12-26 15:13] yoavnativ commented on #269
I have the same issue. Looks like it works with Bitstamp but not with Coinbase

[2020-12-26 16:29] frederikvanduuren commented on #269
this does not work either :(
data = cdd.fetch("BitStamp", "USD", "BTC", "1h")

[2020-12-26 17:06] yoavnativ commented on #269
I think you have a typo: "Bitstamp" not "BitStamp"
data = cdd.fetch("Bitstamp", "USD", "BTC", "1h")

[2020-12-26 17:18] frederikvanduuren commented on #269
YES! thanx
this code is badly updated :(

fred

[2020-12-28 13:19] TekpreXyz commented on #261
i think that can close this

[2020-12-28 13:25] TekpreXyz opened #271 "http://localhost:8892/notebooks/renderers_and_plotly_chart.ipynb"
**System information**

- Have I written custom code (as opposed to using example directory):
 Windows 10,
- TensorTrade version:"1.0.1-beta"
- TensorFlow version: 2.4
- Python version: 3.8

http://localhost:8892/notebooks/renderers_and_plotly_chart.ipynb

![image](https://user-images.githubusercontent.com/73416709/103217221-68217d00-4918-11eb-86b5-c4a8b538ebbb.png)

`c:\users\kit\pycharmprojects\

[2020-12-28 13:29] TekpreXyz opened #272 "renderers_and_plotly_chart ValueError: Invalid format string"
Windows 10,
TensorTrade version:"1.0.1-beta"
TensorFlow version: 2.4
Python version: 3.8

![image](https://user-images.githubusercontent.com/73416709/103217430-da925d00-4918-11eb-8175-d0ee2fda754b.png)

ValueError: Invalid format string

[2020-12-28 13:38] TekpreXyz opened #273 "renderers_and_plotly_chart - Direct Performance and Net Worth Plotting - AttributeError: 'collections.OrderedDict' object has no attribute 'plot"
![image](https://user-images.githubusercontent.com/73416709/103218064-57720680-491a-11eb-990b-a81aa52e2d82.png)

[2020-12-28 23:55] TekpreXyz opened #275 "datetime prossible bug in renders.py"
[code]
   i suggest to change
`        log_entry = f"[{datetime.now().strftime(date_format)}]"`
in this
`        log_entry = f"[{datetime.now().isoformat(sep=' ', timespec='milliseconds')}]"`

i don't know why but make trouble for me

[2020-12-29 01:02] TekpreXyz opened #276 "stochastic remove old lib from tensortrade folder"
stochastic lib in tensortrade folder are not updated, i think it's better to remove it and use
pip install stochastic, instead that currently is 0.6

[2020-12-29 01:44] #261 closed

[2020-12-29 09:13] carlogrisetti commented on #271
Check your data, you have negative volumes and that doesn't seem right.
TA is a third party library and that is giving you the error.

Might be that you are running some sort of normalization (min-max?) before using TA ?
TA needs raw, non normalized, data to be able to add features

You should also share all the code. If you share a "localhost" link, only you will be able to see it

[2020-12-29 09:26] carlogrisetti commented on #272
Issue is that for now windows date formats are not fully supported.
A valid workaround is to manually specify the correct date format within environment creation.

The parameter you're looking for is `renderer` and you can specify `default.renderers.ScreenLogger(date_format='%Y-%m-%d %H:%M:%S')` as a value. The same thing for other renderers, for example plotly would be `default.renderers.PlotlyTr

[2020-12-29 10:46] TekpreXyz commented on #271
Grazie

[2020-12-29 10:46] #271 closed

[2020-12-29 10:48] TekpreXyz commented on #272
mmm ok, so do toy think that this can be related to this issue:
https://github.com/tensortrade-org/tensortrade/issues/275

[2020-12-29 19:58] TekpreXyz commented on #272
i try that but don't worked

[2020-12-30 06:11] TekpreXyz commented on #272
ok after some try, as you suggest, the
`default.renderers.ScreenLogger(date_format='%Y-%m-%d %H:%M:%S')`
work, but when i change it to `default.renderers.PlotlyTradingChart(display=False, timestamp_format='%Y-%m-%d %H:%M:%S', save_format='html', path='charts')` i have this :

![image](https://user-images.githubusercontent.com/73416709/103333381-12f77f80-4a6e-11eb-8e87-02fd70fef20d.png)

i get
Valu

[2020-12-30 06:33] #275 closed

[2020-12-30 08:15] Alsac commented on #273
I run with same error, cannot plot any picture.

[2020-12-30 12:49] TekpreXyz opened #281 "Render via Ray dashboard don't work on Windows 10"
Render via Ray dashboard seems don't work on Windows 10, there are any other way to see the process working?

[2021-01-03 21:08] Rockyyost opened #282 "Question on Exchanges and Stocks"
How would you use the Exchange modules for stocks? Looks like things more focused on currency pairs at the moment.

Thanks!

[2021-01-03 23:23] shuanat commented on #273
Try this one:
`performance = pd.DataFrame.from_dict(env.action_scheme.portfolio.performance, orient='index')
performance.plot()`

[2021-01-04 16:06] kunwar-vikrant opened #283 "Unable to fetch data using Cryptodatadownload"
[code]

While fetching data there is always an error that:

[2021-01-04 17:02] TekpreXyz commented on #283
bitstamp is oblsolete

[2021-01-05 01:03] houmanb commented on #283
I can't even run the "Setup Environment" example from the docs.
I think these errors could be related:

[code]

while switching from *Coinbase* to *Bitstamp* seems to works.

[code]

I thinks, it's not the author's fault rather than *Coinbase* braking/changing their own API.
So it seems that *Coinbase* has [re]moved expected API url.

[2021-01-05 01:40] TekpreXyz commented on #283
yes coinbase in not more available, and example and documentation here is not updated

[2021-01-05 05:13] kunwar-vikrant commented on #283
Yeah Coinbase is not available but even if you run the cells with only bitstamp , it still throws an error!

[2021-01-07 01:12] carlogrisetti commented on #281
Ray dashboard on windows is broken. It's not tensortrade's fault, nor Ray, but something related to Node support on Windows.

You can see the progress at the console output of the main worker, or by using Tensorboard and pointing to the output model folder (even if backend is torch)

[2021-01-07 18:40] Cattpot commented on #283
there is no variable called 'bitstamp_btc'
We need more code from you to help you here..

[2021-01-08 07:11] kunwar-vikrant commented on #283
[https://github.com/tensortrade-org/tensortrade/blob/master/examples/ledger_example.ipynb](url) It is the ledger_Example code from the tensortrade repo....
this is how it was defined:
`cdd = CryptoDataDownload()
coinbase_btc = cdd.fetch("Coinbase", "USD", "BTC", "1h")
coinbase_eth = cdd.fetch("Coinbase", "USD", "ETH", "1h")

bitstamp_btc = cdd.fetch("Bitstamp", "USD", "BTC", "1h")
bitstamp_eth = c

[2021-01-09 15:34] TekpreXyz commented on #281
Thank!
Grazie Carlo ho risolto!

[2021-01-09 15:34] #281 closed

[2021-01-12 12:21] Quaniful opened #284 "TypeError while initiating an environment with a portfolio of more than 1 wallet"
MacOS
TensorTrade version 1.0.0b0
TensorFlow version 2.3.0
Python version 3.8.3

I have followed the tutorial "setup_environment_tutorial" and I came across a TypeError while trying to initiate the environment.

I created my own fork of TensorTrade using git clone and I've used a custom data downloader instead of the CryptoDataDownloader used in the original tutorial.

in the following code nyse_d

[2021-01-12 21:00] Quaniful commented on #284
In the meantime I've edited the source code as follows:

In env/default/observers.py

[code]

I have looked for the proper way to define:
'worth = (price * total_balance)'

I have found a function 'mul' in another module that defines a multiplication of stream objects and used that as:
worth = mul(price, total_balance).rename('worth')

It seems to have fixed the problem for now, I hope I didn't br

[2021-01-16 15:41] crushingCodes commented on #283
I think the problem you are having is you are leaving the references to coinbase, as coinbase and bitstamp are mixed in the same cells, as a quick fix if you comment out the lines with coinbase it will run, just tested it and seems to work.

[2021-01-19 11:28] YuriyTigiev opened #286 "Docker Installation"
Where can I find how to install, configure and use TensorTrade (docker version) for Windows?
Which version is the latest and official?
https://hub.docker.com/search?q=tensortrade&type=image

[2021-01-26 04:05] patrick-bercow opened #287 "Bug: Reward output Nan when setting Commission to 0.0001"
![image](https://user-images.githubusercontent.com/3357553/105799124-bc2e8880-5fce-11eb-8ccc-db3d3aebe493.png)

`    coinbase = Exchange("CTP", service=execute_order, options=ExchangeOptions(commission=0.0001))(
        p
    )`

[2021-01-26 04:22] #287 closed

[2021-01-26 04:22] patrick-bercow commented on #287
can't reproduce

[2021-01-28 03:29] patrick-bercow commented on #282
same question,is it possible to have a refactor to support future exchange?

[2021-01-28 20:37] Quaniful opened #288 "ModuleNotFoundError: No module named 'stochastic.noise'"
**System information**
MacOS
Python 3.8
TensorTrade 1.0.1b0

**Describe the current behavior**
When trying to import tensortrade.stochastic, I'm getting a ModuleNotFoundError

`import tensortrade.stochastic as sp`

Error:

[code]

**Describe the expected behavior**
The import should go well and I should have access to the stochastic processes folder.

**Code to reproduce the issue**
Simply the cod

[2021-01-30 18:37] santivill commented on #269
Does it work with binance?. I got the same problem as with Coinbase

[2021-01-31 10:01] santivill commented on #269
May I have your help pls?
Thanks
Santi

[2021-01-31 14:37] frederikvanduuren commented on #269
only Bitstamp works...
data = cdd.fetch("Bitstamp", "USD", "BTC", "1h")

[2021-01-31 15:21] santivill commented on #269
Thanks Fred.
When is expected will work with binance?
Thanks
Santi

[2021-01-31 17:57] avnishranwa7 commented on #288
assign me

[2021-01-31 19:02] avnishranwa7 commented on #288
There is no python file "noise" in "processes" folder.

[2021-02-04 10:01] carlogrisetti commented on #197
Fixed with #219
Thanks for reporting this

[2021-02-04 10:01] #197 closed

[2021-02-04 10:11] carlogrisetti commented on #282
Actually the exchange is merely the entity (company) that provides you exchange services, between your base asset (that can be a currency like USD, or it can also be any other type of asset), and the assets you want to trade.
Different exchanges can have different transaction costs and different assets available to trade, so that's the reasoning behind this structure.

Once you have an exchange se

[2021-02-04 11:09] carlogrisetti commented on #276
Why did you close #277 PR in the end?

[2021-02-04 11:19] carlogrisetti commented on #267
@mwbrulhardt can you check this?

[2021-02-04 11:28] carlogrisetti commented on #229
@quantwin i know this is obsolete by now, but have you tried with the new repo?

Closing this issue in the meantime, as it is most likely resolved. Add more info \ details with current repo\versions and we'll gladly reopen it.

[2021-02-04 11:28] #229 closed

[2021-02-04 15:06] rhamnett commented on #288
@Quaniful  - Please ensure you are using the master version of TT. This import works fine for me. Re-open if any further iss.

[code]

[2021-02-04 15:06] #288 closed

[2021-02-04 15:07] rhamnett commented on #286
The dockerfile is provided within the master source repository. Please use this one not a hosted model from dockerhub.

[2021-02-04 15:07] #286 closed

[2021-02-04 15:09] rhamnett commented on #283
Hi, Coinbase is no longer accessible. You can see a list of supported exchanges here http://www.cryptodatadownload.com/data/northamerican/ (View the download links to get the correct exchange name to enter into the fetch method).

If you wish to use an exchange not listed on CryptoDataDownload then you will need to implement it yourself.

[2021-02-04 15:09] #283 closed

[2021-02-04 15:10] rhamnett commented on #269
Please see #283

[2021-02-04 15:10] #269 closed

[2021-02-04 15:13] rhamnett commented on #260
This appears to have been fixed as per the mention, please re-open if you have further issues.

[2021-02-04 15:13] #260 closed

[2021-02-04 19:13] carlogrisetti commented on #284
Created #292 which implements your edit.
Thanks a lot for the input in this... I'll just wait for a check on other effects before merging.

[2021-02-04 19:22] carlogrisetti commented on #282
@patrick-bercow You can work around it by treating the future as a normal asset. I know it's not the same thing, but I don't see why it shouldn't work if you treat the future as a generic object, without considering the date, as per the example above. In any other consideration, it's not implemented, and probably won't be in the near future (I think, and it's my personal opinion, that the next imp

[2021-02-04 21:27] carlogrisetti commented on #248
@papapumpnz There have been many modifications in the last months. Can you verify the issue is still present?

@TheSnowGuru Also, stopping the training on dropdown would mean that if the agent is able to get a profit, let's say +5% and then would drop down 10%, the "real" result would be that it goes down to -5% net (it's not that, I know, but let's say math works different for simplicity's sake).

[2021-02-04 22:45] carlogrisetti commented on #173
This should be already merged completely. Closing due to being left open.
If there is still something missing, just comment again on this issue.

Thanks!

[2021-02-04 22:45] #173 closed

[2021-02-04 22:51] carlogrisetti commented on #230
Almost a year after the fact but... They are indeed not implemented. You can sort of factor in spread by reverse engineering the spread as an exchange commission value, and setting that commission value for that specific exchange. This of course works only in exchanges that apply a fixed spread, and in that case the only downside is that different spreads on different assets would have to be manag

[2021-02-04 22:53] carlogrisetti commented on #215
@tarasivashchuk have you done any progress in regards to this? Might this be an obsolete issue with something already merged in?

Thanks

[2021-02-05 16:49] rhamnett commented on #253
OrderCriteria are a list of things like - MarketOrder, LimitOrder w/ price, StopLoss, etc.

Hope this helps.

[2021-02-05 16:49] #253 closed

[2021-02-05 21:06] rhamnett commented on #158
I believe this to have been resolved with various commits, feel free to re-open an issue should you require.

[2021-02-05 21:06] #158 closed

[2021-02-05 21:08] rhamnett commented on #216
This is not something we have plans to do at present. If you wish to supply a PR then please feel free.

[2021-02-05 21:08] #216 closed

[2021-02-06 18:59] khmikkelsen opened #297 "env/generic/environment.py TypeError: reset() missing 1 required potential argument: 'self'"
**System information**

- Custom dataset, reformatted to fit example dataset
- OS: Ubuntu 20.04
- TensorTrade version: 1.0.1b0
- TensorFlow version:  2.3.1
- Python version: 3.8

Running this script results in the following stacktrace. Most importantly:
` File "/home/kristian/.local/lib/python3.8/site-packages/tensortrade/env/generic/environment.py", line 145, in reset
    c.reset()
TypeError: res

[2021-02-06 19:35] HiIAmMoot commented on #297
renderer=default.renderers.PlotlyTradingChart,

should be

renderer=default.renderers.PlotlyTradingChart(),

[2021-02-06 19:40] #297 closed

[2021-02-07 04:21] Hubedge opened #298 "ReplayMemory.tail won't return the oldest n pushed Transitions"
**System information**

- Have I written custom code (as opposed to using example directory): No
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): Windows 10
- TensorTrade version: 83f3fbfb795614f96b708acd8d0c926882b0bb23
- TensorFlow version:
- Python version: 3.8.5

**Describe the current behavior**
Sorry if I misunderstood the intention of these methods, but give

[2021-02-07 12:56] rhamnett commented on #298
Hello, this has to do with your replay memory size being 6 and the loop size being 10, so entries are being over written. Are you suggesting that the overwritten order is not correct? Here is an example of tail and head with both memory size and loop being size 10:

[code]
Outputs
[code]

[code]
Outputs
[code]

[code]
Outputs
[code]

[2021-02-07 14:33] rhamnett commented on #298
Please can you have a look at this gist and check the test cases: https://gist.github.com/rhamnett/20c7fd6b59c1c4d15b5a2d0d7f6667cb

[2021-02-07 15:23] mwbrulhardt commented on #298
We actually are going to be removing those methods because the only place they are used is in the `A2C` agent which will be getting removed soon.

[2021-02-07 15:35] Hubedge commented on #298
Hi Richard, I think the element overwritten is correct but the order of `memory` is wrong. IMO `tail` should return the lastest (I said oldest in my original issue, have fixed) items. Your implementation of `tail` using `deque` is no different from the original one, given the overwritting logic is in `push`.

Please see my implementation if it's more clear.
https://gist.github.com/Hubedge/b324222e

[2021-02-07 15:37] Hubedge commented on #298
@mwbrulhardt if it's legacy code to be removed soon then it's fine, thanks.

[2021-02-07 16:51] mwbrulhardt commented on #157
This is not within the scope of what the library aims to do. If you want to think about this type of training put try to explore the `ray` library.

[2021-02-07 16:51] #157 closed

[2021-02-07 17:00] mwbrulhardt commented on #267
Shouldn't this computation involve numerical integration of some sort. I've read that the discrete calculations used are actually not correct.  Check the Wikipedia [page](https://en.wikipedia.org/wiki/Sortino_ratio#:~:text=The%20Sortino%20ratio%20measures%20the,upside%20and%20downside%20volatility%20equally.).

[2021-02-07 17:23] mwbrulhardt commented on #267
I believe this is what it should look like. I chose the LaPlace distribution for representing the return. That distribution can be replaced with whatever someone believes fits the data the best. Here's what the code would look like.

[code]

[2021-02-07 17:25] Tomas0413 commented on #287
@patrick-bercow I also noticed this:
[code]

I noticed that if I increase the commission a bit (commission=0.0005 or commission=0.001), the first few iterations return reward=nan, but then it's all normal afterwards.

[2021-02-07 22:15] rhamnett opened #299 "Create example for use in a live trading scenario"
Produce documentation and code example for getting agent actions in a way which produces the ability to live trade (doesn't need to implement trading on a specific exchange)

[2021-02-08 00:43] AlexQuant62 opened #300 "use tensorboard to monitor training/testing"
subj.
if using Ray, implement custom callback class. see issue/example here:
https://github.com/ray-project/ray/issues/7871

[2021-02-08 00:50] AlexQuant62 opened #301 "Create example of training/cv/testing of dataset"
as an example of division of dataset to training/cv/testing see here:
https://github.com/sam31415/timeseriescv

[2021-02-08 00:54] rhamnett commented on #300
Please provide a specific TT example (use the ray tutorial as a base if you require) https://www.tensortrade.org/en/latest/tutorials/ray.html

[2021-02-08 00:55] rhamnett commented on #301
I am not sure exactly what you mean here, but can you check #177 and then see if you can comment there (and close this issue if so)? Thanks

[2021-02-08 01:12] AlexQuant62 commented on #177
as an example of division of dataset to training/cv/testing see here:
https://github.com/sam31415/timeseriescv

[2021-02-08 01:12] #301 closed

[2021-02-08 01:13] AlexQuant62 commented on #301
closed as already addressed by #177

[2021-02-08 15:36] #82 closed

[2021-02-08 15:56] rhamnett commented on #213
I have managed to do successful PBT with master branch (today). Re-open if still any issues and kindly provide an example notebook so we can help you. Thanks.

[2021-02-08 15:56] #213 closed

[2021-02-09 00:49] AlexQuant62 commented on #300
I created a notebook: https://github.com/AlexQuant62/test01/blob/main/ray_with_callbacks.ipynb

Class definition for callbacks from:
    https://github.com/ray-project/ray/blob/0c80efa2a37f482494fbffbe9e81f61586b03ecb/rllib/examples/custom_metrics_and_callbacks.py
- Modified to add custom metrics for TensorBoard (max/mean/min) : net_worth, num_batches (added by default).
- Debug prints commented.

[2021-02-09 16:15] rhamnett commented on #300
@AlexQuant62  Hi this looks like some code I wrote a while back. Did you find this somewhere? Just curious as I have got a more comprehensive version I can share.

[2021-02-09 19:59] AlexQuant62 commented on #300
@rhamnett Hi, no didn't find your code. Please, share. I'm more than less novice in Python ;)

[2021-02-09 20:00] rhamnett commented on #300
Will do, just waiting for a bug that I reported to be fixed in Ray :)

[2021-02-10 13:46] rhamnett commented on #149
Thanks, will check these out and potentially add them to the existing tests.

[2021-02-10 14:01] rhamnett commented on #149
@diazagasatya can you please attach the exceptions you added into tensortrade/code/exceptions.py

[2021-02-11 10:28] carlogrisetti commented on #267
@ctstanleylee does that look good to you?

[2021-02-11 10:30] carlogrisetti commented on #215
Closing due to being stale. If there is any progress, just comment here. Thanks!

[2021-02-11 10:30] #215 closed

[2021-02-11 10:31] carlogrisetti commented on #248
Closing due to being stale. If there is any progress, just comment here. Thanks!

[2021-02-11 10:31] #248 closed

[2021-02-11 10:32] carlogrisetti commented on #230
Closing due to being stale. If there is any progress, just comment here. Thanks!

[2021-02-11 10:32] #230 closed

[2021-02-13 17:36] rhamnett commented on #284
@Quaniful this should now be addressed in master. Please let us know if any issues and re-open

[2021-02-13 17:36] #284 closed

[2021-02-18 20:11] liubarnabas commented on #176
Where is the example?

[2021-02-20 10:06] johnnync13 opened #306 "I'm doing Final Work Degree AutoTrading"
I'm not have any problems, but I am implementing one of these algorithms:
- Deep Q learning
- Double Deep Q learning
- Deep Actor Critic
- Double Deep Actor Critic
- DQN with prioritized experience replay (PER)
- Deep recurrent Q-learning (DRQN)

I recommend this recopilatory:
https://github.com/cbailes/awesome-deep-trading

I hope to be able to collaborate from summer onwards.

[2021-02-21 04:06] no-trick-pony opened #307 "Feature Request: Acknowledge order book/Bid-Ask spread"
Hey, a question, after reading the code and documentation for a bit (I am new to this, so sorry if my request does not make sense in the context of this framework):

Is bid/ask order spread (i.e. simualation of the orderbook) modelled at all? That would be a crucial part of the trading environment and can't be modelled as a static "commission" of the exchange, since it's ever changing and can vary

[2021-02-28 18:03] sdfsdsdsd commented on #299
@rhamnett i came across this ticket while trying to understand if tensortrade can actually trade live or just help training models.
I am still not sure, but if you can help me to figure out I am happy to write a documentation about it :)

[2021-03-01 17:14] #306 closed

[2021-03-03 14:19] tidues opened #308 "display parameter in PlotlyTradingChart doesn't work"
I checked the code. In the initializer of PlotlyTradingChart class, the "display" parameter is never used. It should be used for self._show_chart. But, in the package that I downloaded, _show_chart is set to True. I installed tensortrade using pip install. The version is 1.0.1b0, which is the default version installed by pip.

[2021-03-03 14:51] #308 closed

[2021-03-03 14:59] tidues opened #309 "PlotlyTradingChart Always Showing"
When calling env.render(), PlotlyTradingChart always showing even when setting the input parameter "display" as False.

The package I installed is using pip install tensortrade, and the version installed by this is 1.0.1b0.

I checked the source code installed on my local machine and the code in this repository, found some discrepancies:

1. in class PlotlyTradingChart.__init__, the input "display

[2021-03-04 08:02] carlogrisetti commented on #309
Hello,
please install using `pip install git+https://github.com/tensortrade-org/tensortrade.git`

It has already been fixed and will be in the next release

[2021-03-04 16:57] tidues commented on #309
That works. Thank you!

[2021-03-04 16:57] #309 closed

[2021-03-05 14:41] tidues opened #310 "SimpleOrders action scheme on the Github version works unexpected"
I am using the github version: `pip install git+https://github.com/tensortrade-org/tensortrade.git`. This addresses the plotly keep showing problem. But, a new problem emerges as the new training results are vastly different from previous well-trained results (old results are using the package from `pip install tensortrade`). It seems that the reason is the action scheme doesn't use any sell actio

[2021-03-06 15:42] CodingWookie commented on #227
Can you point me to the tutorials?

[2021-03-12 01:14] super999 commented on #273
thank u. :)

[2021-03-13 16:58] CodingWookie commented on #237
While we are here,to make a production model we have change the ENV to include the data stream from the exchange and redefine the actions to include the exchange API code?

[2021-03-19 14:19] Youbadawy opened #311 "Iterating multiple streams in Exchange Module"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2021-03-19 14:43] Youbadawy commented on #311
basically with my method, it tries to do

Stream.source(list(data.get("BTC/USD")["close"]), dtype="float").rename(i).name

which returns BTC/USD

while on my iteration it does

[
    Stream.source(list(data.get(i)["close"]), dtype="float").rename(i) for i in data
].name

which a list has no attribute name...

[2021-03-19 18:44] Youbadawy commented on #311
Would changing the stream call method to this affect anything?
[code]

[2021-03-21 11:15] Youbadawy opened #312 "TypeError: float() argument must be a string or a number, not 'Timestamp'"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2021-03-22 04:26] t3ch9 commented on #299
Did you find out if tensortrade can be used for live trading?

[2021-03-22 09:00] paramrajpura opened #314 "Stream sensor at times returns None raising a Type Error."
**System information**

- OS Platform and Distribution : Linux Ubuntu 18.04:
- TensorTrade version: 1.0.0b
- Python version: 3.8.5

**Describe the current behavior**
Running the test_exchange_with_wallets_feed function from test_observers.py as attached in screenshot, the sensor of the stream returns None at times so when I want to use lag/diff function on stream it returns Type error as i cant us

[2021-03-30 12:23] eicnix opened #317 "Feature Request: Support for Shorting"
To further improve the usefulness of TensorTrade in real world applications I would like to short an instrument as part of a strategy.

From a user perspective I would like to create a sell order on an instrument without any net worth to receive a negative balance.

[2021-04-01 19:20] eicnix commented on #299
@rhamnett I would like to take on this ticket to produce an example on how to use TensorTrade with ccxt.

My approach for this would be:
* Implement the ccxt service
* Implement a push feed to first download `n` historical bars and then switch into live mode
* Configure an exchange object to use the new service and push feed
* Prepare a notebook to first train a simple agent and then use it on liv

[2021-04-04 06:33] amitach commented on #38
I had the same issue on Big Sur again,
Downloaded the source from [TALIB_SOURCE](https://mrjbq7.github.io/ta-lib/install.html)

- untar/unzip the download

- cd into the folder and run:

[code]

import talib should now work

[2021-04-11 02:25] TraderWithPython commented on #317
I think so

[2021-04-11 12:50] lefig opened #318 "Tensorflow version 2"
Hi,

Firstly, thank you for a great project and several years of hard work behind it.

I recently came across the project and would appreciate asking a question.

What is the current status of Tensorflow 2 support.

Has this been implemented now?

Many thanks

Fig

[2021-04-13 03:39] fodrh1201 commented on #310
I think that the problem exists in get_orders function.
The size of quote should be changed to the base standard.

[2021-04-16 12:26] tidues commented on #310
Thanks. Has this been fixed?

[2021-04-20 14:30] Adntys opened #319 ""Using Ray with TensorTrade"- Example; AttributeError: 'collections.OrderedDict' object has no attribute 'plot'"
Hello I have an issue when running the "Using Ray with Tensortrade" Example:
https://www.tensortrade.org/en/latest/tutorials/ray.html

<img width="955" alt="Screenshot 2021-04-20 at 16 27 38" src="https://user-images.githubusercontent.com/33360051/115413267-54669300-a1f5-11eb-83f6-e61ba44503c9.png">

[2021-04-22 18:05] dans-acc opened #320 "BSH has only two actions?"
Hello,

I am a bit confused. Using the BHS action scheme enables the agent to buy, sell and hold. However, why does action_space.n
return 2? Shouldn't it return 3?

Best

[2021-04-22 18:13] #320 closed

[2021-04-22 18:13] dans-acc commented on #320
Found the answer on the website, soz: https://www.tensortrade.org/en/latest/components/action_scheme.html

[2021-04-23 08:24] fodrh1201 commented on #310
Yes. agent can use sell action.

[2021-05-01 18:09] daecepi commented on #312
@Youbadawy i am having the same error, did you resolve it?

[2021-05-02 09:52] Youbadawy commented on #312
@daecepi yes, use unix timestamp instead, it should work!

[2021-05-04 21:03] tidues commented on #310
That's great. Thanks!

[2021-05-04 21:03] #310 closed

[2021-05-06 23:31] jbdatascience commented on #319
I encountered the same problem !

[2021-05-10 16:36] carlogrisetti commented on #317
This is not just as simple as enabling it to have a negative balance, but implementing a new action space, and new actions in the environment.
It is not currently supported, nor we plan on adding it in the near time, but you are more than free to submit a PR implementing this if you feel so and are capable

Thanks for the suggestion anyway!

[2021-05-10 16:36] #317 closed

[2021-05-10 16:37] carlogrisetti commented on #126
Exchange integration is not in the scope of this project. Thanks for the patience :)

[2021-05-10 16:37] #126 closed

[2021-05-10 16:47] carlogrisetti commented on #318
framework support is mainly dependent on your training framework of choice. We encourage using Ray as it seems to be the most powerful and we're using that to test it too.
I believe it has support for TF, although I've always seen it used with torch.

Can you elaborate on that? :)

[2021-05-10 22:11] #193 closed

[2021-05-10 22:11] carlogrisetti commented on #276
Stale, closed

[2021-05-10 22:11] #276 closed

[2021-05-10 22:12] carlogrisetti commented on #267
Stale, closed

[2021-05-10 22:12] #267 closed

[2021-05-12 08:39] carlogrisetti commented on #300
@rhamnett can you link the issue in Ray?

[2021-05-18 11:34] pazlvbanke commented on #319
[code]

[2021-05-18 19:31] carlogrisetti commented on #319
Thanks for the fix, I updated the docs!

[2021-05-18 19:31] #319 closed

[2021-05-21 06:10] carlogrisetti commented on #273
Fixed in https://github.com/tensortrade-org/tensortrade/commit/2c5cb65b022351fefcc5b3a6f9e88a837d2edec4
sorry for the delay :)

[2021-05-21 06:10] #273 closed

[2021-05-23 08:16] carlogrisetti opened #323 "wrong repo for this issue :)"
wrong repo for this issue :)

[2021-05-23 08:38] carlogrisetti commented on #323
Of course a workaround to this is to just provide a single row (even duplicate) in the dataset.csv file with a split of 2, so that the test.hdf5 is generated and then can be loaded again in the future.

One thing that might not be obvious: I am not passing separate splits from the commandline, but using the `--dataset dataset.csv` parameter which contains splits 0 and 1 only

[2021-05-25 11:36] Ray-0403 opened #324 "The sell Oder here is only a way to close buy order?"
If it is, any advice on how to modify action scheme and oms system to support real sell order? How to make it can only hold or not hold one order one time and just close the whole order when it want rather than send another sell order with different size to partially close the buy order?

[2021-05-25 21:24] carlogrisetti commented on #324
It is currently implemented only with long positions, so buy and sell are the opening and closing of a long position. I can't tell you how to proceed but I don't remember who in the past said that it would need extensive modification to the OMS and all related code that deals with the portfolio

As per the current implementation, you can make it buy and sell partial quantities by not using the BSH

[2021-05-25 21:25] #324 closed

[2021-05-25 21:27] carlogrisetti commented on #323
wrong repo for this issue :)

[2021-05-25 21:27] #323 closed

[2021-06-02 13:13] DLWCMD opened #325 "TensorTrade Rendering Example Code Fails"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2021-06-03 15:37] bergen288 commented on #282
@carlogrisetti
How do define ```eToro_exchange``` in your example above?  Is there a predefined Exchange for stocks?

[2021-06-05 23:23] leandronogSS commented on #311
I have a similar problem, did you find any solution?

I'm doing:
[code]
but none of this works:
[code]

[2021-06-07 03:48] mvccn opened #327 "short trades, down trend and wallet with negative value"
Is there any easy way to model short trade in the current framework? Wallet can't hold negative value, it will give InvalidNegativeQuantity exception.  However, this is needed if we want to have a short position. The BSH action scheme can only have all cash or all asset, which can't take advantage the down trend. I think a action scheme which can have cash(netrual), positive asset(long), negative

[2021-06-07 07:43] mablue commented on #327
yes its possable cuz its opensource .:)

[2021-06-07 16:45] munirjojoverge opened #328 "Missing "ipywidgets>=7.0.0" on the examples' requirements"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensortrader) or on the [TensorTrade Discord](https://discord.gg/ZZ7BGWh) #help-desk channel instead of opening a GitHub issue.</em>

**System

[2021-06-12 16:23] ebinxavier commented on #227
Try this [https://www.tensortrade.org/en/latest/examples/overview.html](url)

[2021-07-02 02:25] ava6969 opened #330 "Context and Component class use case"
I recently started utilizing some of this code for a c++ drl project i was working on. I will of course reference this project. I was a little confused about the use case of a context and component class. it looks like its always empty. does it act as a default constructor since you can only have one init function in python?

[2021-07-15 19:50] ava6969 opened #331 "timed criteria possible error"
def check(self, order: 'Order', exchange: 'Exchange'):
        return (order.clock.step - order.created_at) <= self.duration

// this looks  like it should be this
 def check(self, order: 'Order', exchange: 'Exchange'):
        return (order.clock.now() - order.created_at) <= self.duration

[2021-08-13 12:17] yosoul93 opened #333 "Test Unseen data"
There is no example on how to test an unseen data

[2021-08-24 19:16] Industrial opened #335 "Example `train_and_evaluate.ipynb` throws error"
**System information**

- Have I written custom code (as opposed to using example directory): no
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04): docker
- TensorTrade version: docker
- TensorFlow version: docker
- Python version: docker

**Describe the current behavior**
in `train_and_evaluate.ipynb` at step "Setup and Train DQN Agent" I get:
[code]

**Describe the

[2021-08-30 15:17] Zymoo opened #337 "Update in documentation of SimpleProfit reward scheme"
Hello,
It seems that in the documentation [here](https://www.tensortrade.org/en/latest/components/reward_scheme.html), there is this information: "The simple profit scheme returns a reward of -1 for not holding a trade, 1 for holding a trade, 2 for purchasing an instrument, and a value corresponding to the (positive/negative) profit earned by a trade if an instrument was sold.".

However looking t

[2021-09-01 20:57] dmitryr117 opened #338 "Need examples on how to use RiskAdjustedReturns and ManagedRisk actions"
Right now it is unclear how to properly use Risk Adjusted Returns and Managed Risk Actions. It is especially unclear
how to customize values in them. For example in **train_and_evaluate.ipynb** It dows not show how to customize any parameters.
[code]
When I tried the following:
[code]

I keep getting this

[code]
But it works fine if I switch to PBR reward scheme.
Please provide docs on proper use

[2021-09-16 01:54] yuzhupeng commented on #38
same as yours

[2021-09-27 01:10] zhnagchulan commented on #130
Have you solved this question? I have same problems for this.

[2021-10-03 07:16] graceyangfan commented on #338
I always meet InvalidNegativeQuantity when use these class,please make a tutorial on how to use them corretly

[2021-10-17 23:58] #335 closed

[2021-10-28 09:57] sadimoodi opened #342 "BUG: error while running tutorial"
While running the training block of the tutorial (Ray),
i get the following error:

(pid=272) 2021-10-28 09:54:09,549	INFO ppo.py:165 -- In multi-agent mode, policies will be optimized sequentially by the multi-GPU optimizer. Consider setting simple_optimizer=True if this doesn't work for you.
== Status ==
Memory usage on this node: 2.5/12.7 GiB
Using FIFO scheduling algorithm.
Resources requested

[2021-10-28 11:30] #342 closed, assigned to nobody

[2021-10-28 11:53] sadimoodi opened #343 "BUG: Error with tutorial code"
when running this code block in the Ray tutorial and after training the agent, the documentation shows that i have to run the following code:

### Get checkpoint
checkpoints = analysis.get_trial_checkpoints_paths(
    trial=analysis.get_best_trial("episode_reward_mean"),
    metric="episode_reward_mean"
)
checkpoint_path = checkpoints[0][0]

i get this error:
No `mode` has been passed and  `defaul

[2021-10-29 08:35] #343 closed, assigned to nobody

[2021-11-02 07:00] sadimoodi opened #347 "BUG: AttributeError: 'IterableStream' object has no attribute 'mul'"
Thanks for the wonderful library.
Dependencies:
ray==0.8.7
python3.7

All of my other dependent packages are as per your requirements.txt

I am running the following code:
cdd = CryptoDataDownload()
btc_data = cdd.fetch("Bitfinex", "USD", "BTC", "1h").add_prefix("BTC:")
price_stream =  Stream.source(list(btc_data['BTC:close']), dtype="float").rename("USD-BTC")
exch_opts = ExchangeOptions( commissi

[2021-11-02 07:01] sadimoodi commented on #338
@dmitryr117 did u manage to resolve this issue?

[2021-11-03 04:09] sadimoodi commented on #347
it turns out that all of the above code should be inside "def create_env(config):" block to be able to run.

[2021-11-03 04:09] #347 closed

[2021-11-04 06:24] zeeshanalipanhwar commented on #236
Did you resolve it, how? Are you `tensortrade` library for env creation?

[2021-11-04 09:31] sadimoodi opened #350 "BUG: wrong cumulative rewards calculation in rewards.SimpleProfit"
Hello,

Looking at classtensortrade.env.default.rewards.SimpleProfit the author claims that **get_reward method Returns:    float – The cumulative percentage change in net worth over the previous window_size time steps.**, code:
        net_worths = [nw['net_worth'] for nw in portfolio.performance.values()]
        returns = [(b - a) / a for a, b in zip(net_worths[::1], net_worths[1::1])]

[2021-11-06 01:00] carlogrisetti commented on #350
Could you submit a PR with that same code so that we can discuss inline?
Seems to me there is some misinterpretation on the cumulative percentage change (vs. absolute value change)

If today you do +100% and tomorrow you do -50% you're back to the starting point, with a net gain of 0%. With your calculation it seems to me that you would end up reporting +50% (+100-50)

Am I missing something?

[2021-11-06 01:07] carlogrisetti commented on #333
If using Ray (which is the suggested framework to choose), you can specify an `evaluation_config` parameter, in which you can specify a different value for a configuration variable, that is set only during evaluation.
Having a "is_evaluation" set to False in the normal training configuration, and set to True in the evaluation configuration, allows you to pilot data retrieval in the environment bui

[2021-11-06 01:45] rhamnett commented on #333
@carlogrisetti can we get a simple example for this in the repo?

[2021-11-06 01:47] carlogrisetti commented on #333
I am working on one... As soon as it's ironed out I can commit something rough, but usable.

We definitely need to deprecate the built-in agents thou, they create too much dispersion (see PRs), in favor of supporting Ray. I am currently using the latest builds and they seem to be working good, even with this evaluation thing (they weren't before).

[2021-11-06 01:49] rhamnett commented on #333
I agree, I can spend some time removing them soon

[2021-11-07 05:44] sadimoodi commented on #350
@carlogrisetti I have created a new PR [here ](https://github.com/tensortrade-org/tensortrade/pull/352)

[2021-11-07 15:49] carlogrisetti commented on #350
@rhamnett are you sure that the calculation is correct? Take a look at my previous comment. I would love a "positive" feedback on top of the PR

[2021-11-07 16:14] rhamnett commented on #350
@carlogrisetti sorry perhaps I misunderstood the conversation with @mwbrulhardt  in discord?

[2021-11-07 16:19] carlogrisetti commented on #350
Oh, haven't seen discord :)

[2021-11-07 20:27] #350 closed

[2021-11-07 20:27] carlogrisetti commented on #350
Closed as misinterpretation. Overall percentage change is not simply a sum of the various percentage changes that occured.

[2021-11-07 21:37] carlogrisetti commented on #333
@yosoul93 can you have a look at [THIS](https://github.com/tensortrade-org/tensortrade/blob/docs-ray-training-example/docs/source/examples/train_and_evaluate_using_ray.md) updated doc and let me know if it's easy enough to be published as-is?
It is the result of a lot of copypasta from some of the code I am working on, removing some private info. I haven't had time to test it yet in its entirety.

[2021-11-07 21:42] carlogrisetti commented on #337
@Zymoo seems to me you are perfectly right. There is nothing more on the reward calculation than the actual profit. That most probably is an old comment to one of the first implementations of the SimpleReward.
More sophisticated implementations have been done in the `Risk Adjusted Returns` and `Position-based Returns` reward schemes.

#354 fixes the documentation regarding this. It will be correct

[2021-11-07 22:00] carlogrisetti commented on #338
@dmitryr117 you need to check in the console output for the tune run what is the real error that gets spit out by one of the agents. That log only shows that Ray was unable to properly run an agent, because it has encountered an error during a trial.

@graceyangfan would you care to post an issue describing what you are doing (ie: code)? That way we can try and figure out if there is a bug (most p

[2021-11-09 06:50] wnz99 commented on #333
Hi,
I've noticed you mentioned deprecating the built-in agents, but would it be possible to expand this tutorial to include processing of test data?

For example I tried something like the following:

[code]

However the chart does not show trading actions and also I'm not sure how to get them at all. It would be great to have an example showing how to feed live data to an agent (as setup in that

[2021-11-09 06:53] yglpyn8888 opened #355 "Hello, I would like to ask if the RL algorithm written in pytorch can train the environment generated by tensortrade?"
**System information**
- OS Platform and Distribution (e.g. Mac Sierra, Windows 10, Linux Ubuntu 16.04):  WIN10
- TensorTrade version: latest
- Python version: 3.7

[2021-11-09 11:31] wnz99 opened #356 "Ray trading example."
Hi,

I think there might be an issue in the new Ray example:

This parameter is not used in the `create_env` function:

https://github.com/tensortrade-org/tensortrade/blob/30868039ad35a1894fb78198a9859f0b81485f57/docs/source/examples/train_and_evaluate_using_ray.md?plain=1#L169

And this also seems not used anywhere:

https://github.com/tensortrade-org/tensortrade/blob/30868039ad35a1894fb78198a985

[2021-11-09 13:32] wnz99 opened #357 "SimpleProfit type 'numpy.float64' has no len()"
This change will now lead to the following error:

https://github.com/tensortrade-org/tensortrade/commit/4e12082ee49df5182ec54e9badd6abea14c6cfa0?diff=split

[code]

I tried to revert the change and the issue is solved.

It looks to me that `returns` is no longer expected to be an array and should just be returned by the function.

[2021-11-09 19:31] rhamnett commented on #357
Thanks, this was reverted afterwards https://github.com/tensortrade-org/tensortrade/commit/18848be19b698f291513d54cc6b7e0bf01c249dd please git pull 👍🏼

[2021-11-09 19:31] #357 closed

[2021-11-09 19:39] rhamnett commented on #356
@carlogrisetti  I think we should have this:

[code]

[2021-11-09 19:40] rhamnett commented on #355
Sorry can you please explain in more detail what you are looking for ?

[2021-11-10 01:46] yglpyn8888 commented on #355
Hi, i thought my question was quite clear..
Can the RL agent implemented by pytorch train tensortrade environment?

[2021-11-10 01:48] rhamnett commented on #355
You don't seem to have reformulated the question in any more detail. Please do so and then re-open the issue.

[2021-11-10 01:48] #355 closed

[2021-11-10 01:49] rhamnett commented on #355
We are using RLLIb which has a pytorch implementation that can be used to train TT environment if that is what you mean

[2021-11-10 01:53] yglpyn8888 commented on #355
yes that's what i mean!

[2021-11-10 01:54] rhamnett commented on #355
just configure "framework" : "torch" (see ray example)

[2021-11-10 01:55] yglpyn8888 commented on #355
ok,  thanks!

[2021-11-10 13:37] yglpyn8888 opened #358 "does TensorTrade framework compatibled with pytorch agents?"
I found that I seemed to have misunderstood the meaning in issue #355,
because when I read the document, I found this sentence: "however, the TensorTrade framework is compatible with many reinforcement learning libraries such as Tensorforce, Ray’s RLLib, OpenAI’s Baselines, Intel’s Coach, **or anything from the TensorFlow line such as TF Agents**"
So algorithms implemented by PYTORCH such as stabl

[2021-11-10 23:46] #356 closed

[2021-11-10 23:46] carlogrisetti commented on #356
Nice catch!

[2021-11-10 23:46] #337 closed

[2021-11-11 18:58] wnz99 opened #359 "Trading on live data"
Apologies if this is not the best place for such sort of questions, but I think it's a fundamental part that is missing in the documentation.

Having trained an agent with agent with ray, how can I then use it to make prediction on a live data feed?

It would be great if this page could be expanded to include this last step:
https://github.com/tensortrade-org/tensortrade/blob/master/docs/source/ex

[2021-11-12 05:07] zeeshanalipanhwar opened #360 "Error running the "Using Ray with TensorTrade" example."
The following `analysis.get_trial_checkpoints_paths` function call throws the error:
[code]
**System information**

- Google CoLab

**Describe the current behavior**

Here is the full error report:
[code]

**Describe the expected behavior**

**Code to reproduce the issue**
[This](https://colab.research.google.com/drive/1mC2jLy-0ttGeQHiwu1LuuAtx4NSScS82?usp=sharing) is the Google CoLab notebook wit

[2021-11-12 09:17] wnz99 commented on #360
You need to pass `mode` parameter to `get_best_trial`:

https://docs.ray.io/en/latest/_modules/ray/tune/analysis/experiment_analysis.html#ExperimentAnalysis.get_best_trial

for example:

[code]

[2021-11-12 11:11] zeeshanalipanhwar commented on #360
Yes, it resolves the issue, thank you.

[2021-11-12 11:11] #360 closed

[2021-11-13 09:10] yglpyn8888 opened #361 "Error occurs when running latest ray example"
in this demo, https://github.com/tensortrade-org/tensortrade/blob/master/docs/source/examples/train_and_evaluate_using_ray.md
when it comes to this lineL
"df_training = yf_ticker.history(start=START_DATE, end=END_DATE, interval='60m')"
it raises a JSONDecodeError: Expecting value: line 1 column 1 (char 0)

[2021-11-13 09:13] yglpyn8888 commented on #361
and why the STARTDATE and ENDDATE in which df_training/df_evaluation uses are the same?

[2021-11-13 09:55] carlogrisetti commented on #361
As per the JSONDecodeError, what symbol are you using? I suspect you left the TTRD fake symbol in there.

I fixed the startdate\enddatre thing... it was a copypasta :)

[2021-11-13 13:32] yglpyn8888 commented on #361
after i use real symbol ,still the same error...
i tried "AAPL","aapl","MSFT",""msft"...

[2021-11-13 14:26] yglpyn8888 opened #362 "Can TT establishes a high-frequency environment"
For example, the difference between two timestamps is less than 0.1 second？
Can the agent trained in this case be used in the real market?

[2021-11-13 14:36] yglpyn8888 opened #363 "what is the longest sequence supported by Stream?"
I mean, sometimes my own historical dataset may be very long, and I estimate that there may be 30 million (30000000) rows. When so much data is loaded into the environment, does it still support high-performance training (I mean, will a lot of time be spent on the interaction between agent and environment?) Thanks.

[2021-11-14 18:13] AndyVall opened #364 "renderers and plotly chart ipnyb net worth plot"
I had to change "#portfolio.performance.net_worth.plot()" to "performance.net_worth.plot()" in  tensortrade/examples/renderers_and_plotly_chart.ipynb input 15. As is, there was no plot available, and playing around with it, it was just the last net worth value. By changing it to performance.net_worth, I got a series of data, like what you had in the example. I am not sure what changed in the libra

[2021-11-15 21:27] HadiSDev commented on #364
@AndyVall  I just tried with matplotlib and the plotly renderer. I can confirm it is not working

[2021-11-15 21:41] AndyVall commented on #364
Try it with my change

[2021-11-29 04:03] tachon36 commented on #359
I have come across the same problem too.
According to [this](https://towardsdatascience.com/trade-smarter-w-reinforcement-learning-a5e91163f315),
I have been looking for the example like this:
    import ccxt
    from tensortrade.environments import TradingEnvironment
    from tensortrade.strategies import StableBaselinesTradingStrategy
    from tensortrade.exchanges.live import CCXTExchange
    c

[2021-11-30 13:14] yglpyn8888 opened #365 "Excuse me, is there someone to maintain the issues here? my question #362 #363."
i found no result matches after searching related questions here, so i opened new issues #362 #363  but there seems to be no continuous maintenance by official personnel. And i also found no answers in documentation you provided. Thank you!

[2021-11-30 14:50] carlogrisetti commented on #361
Can you share the code you are running?
This could however be more suited for asking to yfinance developers, since it's the basic method call to their library.

[2021-11-30 14:56] carlogrisetti commented on #333
In the meantime, the documentation was built and the same tutorial\example is available here: https://www.tensortrade.org/en/latest/examples/train_and_evaluate_using_ray.html

You get the action by picking the next "action" from the while loop you wrote, assuming that env_eval is containing the latest data available. Its format will depend on the action space you have available (ie: in a BSH actio

[2021-12-01 01:09] yglpyn8888 commented on #361
i also think it is a network problem,  i closed this issue.

[2021-12-01 01:09] #361 closed

[2021-12-02 09:01] SergeySypalo opened #366 "Using Ray with TensorTrade example isn't working"
Hi team,

I'm trying to follow Using Ray with TensorTrade example code, running section by section, but stuck at the
analysis = tune.run(
....
)
section
All code has been copied as-is from the official guide
I have GeForce 1080 in my system
I'm using Python 3.9
Tensorflow version 2.7
All dependencies installed via pip
Manually installed CUDA Toolkit 11.5
Manually downloaded and extracted CuDNN
CUD

[2021-12-04 13:00] yglpyn8888 commented on #230
I also encountered the problem of futures margin, and then search it here. It seems that it has not been implemented yet, which is really sad.

[2021-12-07 14:06] #363 closed

[2021-12-07 14:06] #362 closed

[2021-12-07 14:07] #358 closed

[2021-12-07 22:36] carlogrisetti commented on #366
`All code has been copied as-is from the official guide` lets me think that you might have also copied the part where you load your csvfile as-is (and you might not have it in the same path as I did writing the sample code).
If you run the ray.init part with `local_mode=True` as a parameter, it should spit out something more, since it is not running in a threaded mode. Please note that this is for

[2021-12-08 06:56] SergeySypalo commented on #366
Searched the page I was talking about: https://www.tensortrade.org/en/latest/tutorials/ray.html for the keyword **csv** - can't find it.
So I didn't get what do you mean by "copied the part where you load your CSV file as-is",
Also tried to install a lower version of Python, this time 3.8, still no go, same issue

[2021-12-08 08:09] carlogrisetti commented on #366
I am sorry, I thought you were referring to the most recent example: https://www.tensortrade.org/en/latest/examples/train_and_evaluate_using_ray.html

That one uses recent components and is up to date.

Documentation needs a huge cleanup :)

[2021-12-11 13:32] atomcracker opened #367 "Already exist error"
Hi,

I'm trying to get started with using TensorTrade. But I've come across the following problem:
When following the most basic example documentation on 'https://www.tensortrade.org/en/latest/examples/setup_environment_tutorial.html',
I received an error on the following line: 'import tensortrade.env.default as default'.

Testing with the error I've found that 'import tensortrade' gives the same

[2021-12-13 16:54] #367 closed

[2021-12-15 23:21] carlogrisetti commented on #366
Please reopen this issue if you are still unable to run the example

[2021-12-15 23:21] #366 closed

[2021-12-27 04:38] trungtv opened #368 "Random starting point in the env to avoid overfitting?"
Hello,
I am testing out PPO with BSH action scheme and position-based returns. I am quite happy with the learned models but it seems to be too overfitted to the train data. In fact, the model is worse for unseen test data.
What is your recommendation to avoid overfitting? I am thinking about random starting in the ENV but do not know the right way to implement it?
Is there anyone working on it?
Th

[2022-01-04 19:47] robanos4 commented on #368
I am new to tensortrade, but random starts is usually a very important training strategy in RL - especially in complex DRL models, as ANNs tend to overfit. So, if there are functions to do so, make a +1 on this issue :)

[2022-01-04 19:50] carlogrisetti commented on #368
There is no function yet implemented, but you could play with the minibatch size.

How would you implement a random start feature?

[2022-01-04 20:54] robanos4 commented on #368
Before the end of a new trial, draw a random r number in [0,training set size-1] and start the new trial from observation r in the series (In fact, you can also have a random stop in the same manner, because the learner will most likely overfit the end of the series otherwise). In this framework, it seems most fitting to place these functions as input in the training function (based on my limited

[2022-01-04 21:30] carlogrisetti commented on #368
I am wondering if you can achieve a similar effect with the rollout fragment length in Ray...

This seems something that needs to be implemented in the training framework of your choice. If it was me I would implement it in the creator function that Ray uses to initialize the environment.

I might give it a go in the future. Please let us know if you manage to do so before.
I am trying to extend t

[2022-01-04 23:25] carlogrisetti commented on #364
Thanks for the tip :)

[2022-01-04 23:25] #364 closed

[2022-01-04 23:30] carlogrisetti commented on #328
Thanks for the tip!

[2022-01-04 23:30] #328 closed

[2022-01-04 23:33] carlogrisetti commented on #325
Can you try to run this again after the various code changes \ fixes done?
Please install from master by running:
pip install git+https://github.com/tensortrade-org/tensortrade.git

Thanks!

[2022-01-04 23:34] carlogrisetti commented on #318
Closing due to no response

[2022-01-04 23:34] #318 closed

[2022-01-04 23:36] carlogrisetti commented on #171
@YasserHassan I suppose this died a lot of time ago. Are you still interested in implementing this PR ?
Any use case I explored had a commission based on a percentage of the total value of the trade, so the current implementation seems to be enough for me, but that's only my point of view.

Thanks!

[2022-01-04 23:37] carlogrisetti commented on #177
This also covers training and evaluation. It's the most recent example.
https://www.tensortrade.org/en/latest/examples/train_and_evaluate_using_ray.html

[2022-01-04 23:37] #177 closed

[2022-01-05 00:10] carlogrisetti commented on #236
I had pickle issues in the past while using recent python versions and\or recent modules versions (requirements.txt do not specify an upper bound).

In my environment I froze those packages like these:
[code]

Can you try with those versions and let me know?

Also... the suggested way going forward is to abandon the built-in agents and rely to more robust training frameworks such as Ray. Have a lo

[2022-01-05 00:10] #236 closed

[2022-01-05 00:16] carlogrisetti commented on #300
@AlexQuant62 did you have a look at the most recent example? https://www.tensortrade.org/en/latest/examples/train_and_evaluate_using_ray.html

However the thing you are suggesting is one of the things I would want to implement in the future, having a "balance" or "net_worth" value logged in tensorboard, that shows the "human" outcome of the training. This can be useful in training, but can be even

[2022-01-05 00:25] carlogrisetti commented on #327
What you want is not just to have "sell" meaning that you sell assets you have or short assets you don't have, but you need 4 actions:
Long Buy (ie: the current "buy")
Long Sell (ie: the current "seell")
Short Sell
Short Buy (closing\covering the short position taken)
Hold is just having the same action as the last time, so it's a "logical" action, not a model output per se.

The weird thing would

[2022-01-05 00:25] #327 closed

[2022-01-05 10:17] robanos4 commented on #368
Thank you - I will get to know the framework better and test the suggested solutions + leave an update here!

[2022-01-09 14:58] cryptocoinserver opened #370 "[Suggestion] More / better reward schemes"
It's really important to not overlook the reward part. Just using return is probably the reason most fail with RL. This might be far more essential than the agents: _"The reward fed to the RL agent is completely governing its behavior, so a wise choice of the reward shaping function is critical for good performance. There are quite a number of rewards one can choose from or combine, from risk-base

[2022-01-09 15:00] cryptocoinserver opened #371 "Feature helper"
It would be nice to have a helper library for features.

**Candle information** (might help the model learning candlestick patterns):

- hl2 Price
- hlc3 Price
- ohlc4 Price
[code]
**Seasonality information** (See this great video, where this was recommended - [https://www.youtube.com/watch?v=c0gpgCyjTM8](https://www.youtube.com/watch?v=c0gpgCyjTM8)):
For example...
- day of week
- day of month
-

[2022-01-09 15:05] cryptocoinserver opened #372 "[Suggestion] Quantstats report."
A performance report with [Quantstats](https://github.com/ranaroussi/quantstats) (similar to [pyfolio](https://github.com/quantopian/pyfolio), but still maintained and has more features) would be great.

Only needs an pandas.Series of returns with datetimeindex.

It also can be displayed in Jupyter Notebooks.

[2022-01-16 02:53] MichaelQuaMan commented on #272
It looks like `DQNAgent` calls `render()` on its `env`, the `env` is supposed to fill in the `price_history` argument passed to: `render_env()` on `PlotlyTradingChart`

In `renderer.py` line 116
[code]
I'll try to figure out if `len(env.observer.renderer_history) > 0` is True.

[2022-01-16 06:27] MichaelQuaMan opened #373 "Error when trying to Render Matplotlib per example doc"
At the bottom of:

https://www.tensortrade.org/en/latest/examples/renderers_and_plotly_chart.html?highlight=PlotlyTradingChart#

It states the `the final performance and net worth can be displayed using pandas via Matplotlib.`
[code]
However, both lead to:
[code]
Guessing, the API changed

What's the correct way to render these charts?

[2022-01-16 06:29] MichaelQuaMan commented on #373
Possible duplicate of `TensorTrade Rendering Example Code Fails` #325

[2022-01-16 07:01] MichaelQuaMan commented on #373
Re-reading it states those `.plot()` calls should be using `Matplotlib`.

The `Plotly` charts passed as `renderer` don't display either, but there's no error.

[2022-01-16 17:40] MichaelQuaMan commented on #373
Looks like `portfolio.performance` used to be a `Pandas` Dataframe, which has a built-in `plot()` method, but at some point it was implemented as an `OrderedDict` (probably for simplicity and performance).

It should be pretty simple to create a dataframe from and `OrderedDict`, if I desire to use the `Pandas` `plot()` method.

[2022-01-16 17:40] #373 closed

[2022-01-18 05:55] tshiamotman opened #377 "Unable to install additional features"
Getting error when installing additional features

For "pip install git+https://github.com/notadamking/tensortrade.git[tf,tensorforce,baselines,ccxt,fbm]"
I get the error:

"Collecting git+https://github.com/notadamking/tensortrade.git[tf,tensorforce,baselines,ccxt,fbm]
  Cloning https://github.com/notadamking/tensortrade.git[tf,tensorforce,baselines,ccxt,fbm] to /tmp/pip-req-build-yinma2e8
  Runn

[2022-01-21 00:19] carlogrisetti commented on #325
Closing this issue as stale (and probably fixed in the meantime)

[2022-01-21 00:19] #325 closed

[2022-01-21 00:23] carlogrisetti commented on #377
Can you tell me which document are you following? It's most certainly an obsolete one, and would like to mark it as such in some way.

[2022-01-21 00:27] carlogrisetti commented on #368
I tried to work my mind on that a little bit (to be honest in some spare time hehe, so some more work could be put into this), but couldn't figure out where to inject that "random start" code when training with Ray.

The environment gets built at the start of the training, and each trial just runs over and over the same environment, not building that anymore.
The brute force solution would be to r

[2022-01-21 00:28] carlogrisetti commented on #338
Closing as stale. Please comment\reopen if further details arise.

Thanks

[2022-01-21 00:28] #338 closed

[2022-01-21 00:30] carlogrisetti commented on #331
@rhamnett did you manage to look into that or did it pass under the radar? :)

Thanks

[2022-01-21 00:30] carlogrisetti commented on #171
Closing as stale. Please comment\reopen if further details arise

[2022-01-21 00:30] #171 closed

[2022-01-21 00:34] carlogrisetti commented on #333
@wnz99 have you been able to test the example doc?

[2022-01-21 08:10] carlogrisetti commented on #300
Couldn't manage to get some sort of custom metric in the evaluation stage. It can be done but during the training itself, not during evaluation, since there's no "on_evaluation_end" or similar callback in Ray.

Will try to look into that a little bit more

[2022-01-21 12:26] tshiamotman commented on #377
https://tensortradex.readthedocs.io/en/latest/overview/getting_started.html#installation

[2022-01-21 17:04] carlogrisetti commented on #377
Damn... thanks. Will fix that :)

[2022-01-23 01:07] carlogrisetti commented on #377
Please be aware that you are referring to the documentation for a fork of the project, and not the official one (that you can find on tensortrade.org). In any case those were old references to the way TensorTrade package was splitted up in different components.
The "vanilla" pip install now takes care of everything you need.

Closing as fixed

[2022-01-23 01:07] #377 closed

[2022-01-23 01:48] carlogrisetti opened #379 "Write a compatibility matrix between TensorTrade, Ray, PyTorch, etc"
We need to have some sort of compatibility matrix to guide users in choosing the "best" (read: tested) versions for their environment.
Ray was chosen as the best way to go forward mainly to offload all the agent implementation to their group, but it's not always stable and under heavy development.

I am currently using:
TensorTrade 1.0.4-dev0 (master)
Python 3.7.12
Ray 1.9.2 (latest)
PyTorch 1.10.